<br/>
<br/>
<h4>External Examiners</h4>
<div class="container">
  <div class="row">
    <div class="col-9">
      <select class="form-control">
        <option value="OOPS">OOPS</option>
        <option value="DBMS">DBMS</option>
        <option value="OS">OS</option>
      </select>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-info">Add External</button>
    </div>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  
  <!-- Weight Column -->
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> Name </th>
  <td mat-cell *matCellDef="let element">{{element.name}}</td>
</ng-container>
<!-- Name Column -->
<ng-container matColumnDef="college">
  <th mat-header-cell *matHeaderCellDef>  College </th>
  <td mat-cell *matCellDef="let element"> {{element.college}} </td>
</ng-container>
  <!-- Download Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> View details </th>
    <td mat-cell *matCellDef="let element">View</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
