<br/>
<br/>
<h4>External Examiners</h4>
<div class="container">
  <div class="row">
    <div class="col-9">
      <select class="form-control">
        <option value="OOPS">OOPS</option>
        <option value="DBMS">DBMS</option>
        <option value="OS">OS</option>
      </select>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addExternal" (click)="addExternal()">Add External</button>
    </div>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
  
  <!-- Weight Column -->
<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> Name </th>
  <td mat-cell *matCellDef="let element">{{element.name}}</td>
</ng-container>
<!-- College Column -->
<ng-container matColumnDef="institute">
  <th mat-header-cell *matHeaderCellDef>  Institute </th>
  <td mat-cell *matCellDef="let element"> {{element.institute}} </td>
</ng-container>
  <!-- View Column -->
  <ng-container matColumnDef="details">
    <th mat-header-cell *matHeaderCellDef> View details </th>
    <td mat-cell *matCellDef="let element">
      <a data-toggle="modal" data-target="#viewExternal" (click)="viewExternal(element.id)"><i class="fa fa-eye" aria-hidden="true"></i></a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- View Modal -->
<div class="modal fade" id="viewExternal" tabindex="-1" data-backdrop="false" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{external.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <br/>
        <h6>Institute Name: {{external.institute}}</h6>
        <br/>
        <h6>Contact Number: {{external.contact}}</h6>
        <h6>Email: {{external.email}}</h6>
        <hr>
        <h5>Courses</h5>
        <ul>
          <li *ngFor="let course of external.course">{{ course }}</li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Edit</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade bd-example-modal-lg" id="addExternal" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New External</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="institute" name="institute" placeholder="Institute">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="contact" name="contact" placeholder="Contact Number">
          </div>
          <div class="row">
            <h5>Add Course</h5>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div> 


