<div *ngIf="!authenticated(); then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 heading">
        <div class="customDiv">
          <h3>Resource Requests</h3>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="customDiv">
          <button type="button" class = "customButton" (click)="onButtonClick()"> Request
            Resource</button>
        </div>
      </div>
    </div>
    <div *ngIf="displayForm">
      <form id="Login" (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div ngModelGroup="resourceData">
          <div class="group">
            <div class="row">
              <div class="col-lg-3">
              </div>
              <div class="col-lg-3">
                <label for="category">Category
                  <span class="mandatory">*</span>
                </label>
              </div>
              <div class="col-lg-6">
                <div class="customDiv">
                  <select name="category" class="form-control" id="category" [ngModel]="defaultCategory" required>
                    <option value="Stationery Items">Stationary Items</option>
                    <option value="Lab Equipments">Lab Equipments</option>
                    <option value="Electric Appliances">Electrical Appliances</option>
                    <option value="Maintainance Supplies">Maintainance Supplies</option>
                    <option value="Furniture">Furniture</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div class="row">
              <div class="col-lg-3">
              </div>
              <div class="col-lg-3">
                <label for="details">Details
                  <span class="mandatory">*</span>
                </label>
              </div>
              <div class="col-lg-6">
                <div class="customDiv">
                  <textarea class="form-control" rows="3"
                    placeholder="Enter Specific Details of Required Resource Category" name="details" id="details"
                    required ngModel></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="group">
          <div class="row">
            <div class="col-lg-3">
            </div> -->
          <!-- <div class="col-lg-3">
              <label for="priority">Priority
                <span class="mandatory">*</span>
              </label>
            </div> -->
          <!-- <div class="col-lg-6">
              <div class="customDiv">
                <select name="priority" class="form-control" id="priority" [ngModel]="defaultPriority" required>
                  <option value="High">High</option>
                  <option value="Medium">Medium</option>
                  <option value="Low">Low</option>
                </select>
              </div>
            </div> -->
          <!-- </div>
        </div> -->
          <!-- <div class="group">
          <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-3">
              <label for="deadlineDate">Required Before
                <span class="mandatory">*</span>
              </label>
            </div>
            <div class="col-lg-6">
              <div class="customDiv">
                <input type="date" name="deadlineDate" class="form-control" id="deadlineDate" required ngModel>
              </div>
            </div>
          </div>
        </div> -->
          <div class="group">
            <div class="row">
              <div class="col-lg-6">

              </div>
              <div class="col-lg-3">
                <button type="reset" style = "width:100%;" class="btn btn-primary">Reset</button>
              </div>
              <div class="col-lg-3">
                <button type="submit" style = "width:100%;" class="btn btn-submit" [disabled]="!f.valid">Submit</button>
              </div>
              
            </div>
          </div>
        </div>
      </form>
    </div>
    <br>
    <div class="row">
      <table *ngIf="requestArray.length > 0" class="customTable">
        <th class="customTh">Date</th>
        <th class="customTh">Category</th>
        <th class="customTh">Details</th>
        <th class="customTh">Status</th>
        <th class="customTh">Assigned To</th>
        <tbody class = "customTb">
          <tr class = "customTr" *ngFor="let request of requestArray">
            <td class="customTd">{{myDateParser(request.createdDate) | date}}</td>
            <td class="customTd">{{request.category}}</td>
            <td class="customTd">{{request.details}}</td>
            <td class="customTd">{{request.status}}</td>
            <td class="customTd">{{request.assignedPersonUsername}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>
  <div class="container">
    <div class="group">
      <div class="row">
        <div class="col-lg-6 heading">
          <div class="customDiv">
            <h3>Unresolved Resource Requests</h3>
          </div>
        </div>
        <div class="col-lg-6">
          
        </div>
      </div>
      <div class="row">
        <table class="customTable">
          <th class="customTh">Date</th>
          <th class="customTh">Created By</th>
          <th class="customTh">Category</th>
          <th class="customTh">Details</th>
          <th class="customTh">Task</th>
          <!-- <th class="customTh">Assigned To</th> -->
          
          <tr class = "customTr"*ngFor="let request of unresolvedArray; let i=index">
            <td class="customTd">{{myDateParser(request.createdDate) | date}}</td>
            <td class="customTd">{{request.username}}</td>
            <td class="customTd">{{request.category}}</td>
            <td class="customTd">{{request.details}}</td>
            <td class = customTd>
              <button ng-click="showDiv=false" class = "customButton" style="width:100%"(click)="markResolved(i); ">Resolve</button>
            </td>
          </tr>
        
        </table>
      </div>
    </div>
  </div>
</ng-template>