.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    background-color: #1483cc;
    color: white;
    font-weight: 400;
    letter-spacing: 1.1px;
}

.mat-tab-label{
    min-width: 25px !important;
    font-weight: 400;
    letter-spacing: 1.1px;
    color: black;
}

.mat-ink-bar {
    background-color: green;
    color: white;
}