.theading{
    background-color: gray;
    font-size: 1.2em;
    text-align: center;
}
.center {
    display: flex;
    justify-content: center;
  }
thead{
    font-size: 1.2em;
    text-align: center;
}
h6{
    text-align: center;
    width: 100%;
    font-size: 1.2em;
}
label, select{
    font-size: 1.1em;
}
table tr td:first-child{
    font-weight: 700;
    font-size: 1.1em;
}
input[type='checkbox'] {
    position: relative;
}
td{
    padding: 1.02em;
    text-align: center;
    font-size: 1.2em;
}
#year{
    text-align: center;
    margin-left: 46%;
}
#groupsize{
    margin-left: 1%;
}
.box {
    padding: 1%;
    padding-left: 5%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
  }
  .modal-heading {
    background: #1483cc;
    color: white;
  }

  .modal-lg {
    max-width: 70% !important;
  }
  
  .modal-header{
    background-color:rgb(4, 58, 87);
    color:white;
    margin:0%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .last{
    margin-bottom: 50px;
}
// table{
//     text-align: center;
//     font-family: Arial;
//     font-size: 15px;
//     width: 600px;
//     color: black;
// }
