<div class="kyc-section rewards-section reports-sectn">
  <div class="row">
    <div class="col-lg-9">
      <div>
        <h3 class="text-primary">Deparment of Computer Engineering</h3>
        <hr>
        <p>The Department of Computer Engineering was established in 1983, the first one in the state of
          Madhya
          Pradesh and Central India.Initailly the deaprtment offered an undergraduate program with an intake
          of
          12 students, which has now increaded to 120. It is the firstone to introduce the post graduate
          program
          in Computer in the Computer Engineering in the state.</p>
      </div>
      <div class="">
        <h3 class="text-primary">Vision</h3>
        <hr>
        <p>To become strong centre of excellence for creating competent human resource in the field of Computer Science and Engineering meeting the dynamic societal and industrial needs</p>
      </div>
      <div class="">
        <h3 class="text-primary">Mission</h3>
        <hr>
        <p>
          M1: To produce technically competent professionals in Computer Science and Engineering having a blend of theoretical knowledge and practical skills.<br/>
          M2: To encourage innovation, research, and analytical activities with professional ethics and responsibilities through quality education.<br/>
          M3: To provide learning ambience in collaboration with industries to keep pace with dynamic technological advancements.<br/>
          M4: To motivate students to apply knowledge to resolve societal and environmental challenges and engage in continuous learning towards sustainable development.
        </p>
      </div>
    </div>

    <div class="col-lg-3 kyc-colm user-management">
      <div class="kyc-section rewards-section reports-sectn">
          <h5 style="text-align:center;">Contact Us-Dept Office</h5>
          <hr>
          <div class="contact-icon">
              <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i> 0731-256432</p>
              <p><i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671</p>
              <p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> vishalsinghal@gmail.com</p>
            </div>
      </div>
    </div>
  </div>
</div>
