<div class="kyc-section rewards-section reports-sectn">
    <div class="row">
    <div class="col-lg-9">
    <!--Middle Section-->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="tab" href="#present" role="tab" aria-controls="present" aria-selected="true">Upcoming Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="tab" href="#past" role="tab" aria-controls="past" aria-selected="false">Past Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="tab" href="#team" role="tab" aria-controls="team" aria-selected="false">Team</a>
      </li>
    </ul>
    <br>

    <div class="tab-content">
    <div id="present" class="tab-pane active" role="tabpanel" aria-labelledby="pills-home-tab">
    <div class="card">
      <div class="card-header" id="headingone">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseone"
            aria-expanded="false" aria-controls="collapseone" style="text-decoration:none">
            <h5>Workshops</h5>
          </button>
        </h5>
      </div>
      <div id="collapseone" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
        <div class="card-body">
          <div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingtwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsetwo"
            aria-expanded="false" aria-controls="collapsetwo" style="text-decoration:none">
            <h5>Expert Lectures</h5>
          </button>
        </h5>
      </div>
      <div id="collapsetwo" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
        <div class="card-body">
          <div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingthree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsethree"
            aria-expanded="false" aria-controls="collapsethree" style="text-decoration:none">
            <h5>Competitions</h5>
          </button>
        </h5>
      </div>
      <div id="collapsethree" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
        <div class="card-body">
          <div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header" id="headingfour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"
            aria-expanded="false" aria-controls="collapsefour" style="text-decoration:none">
            <h5>Others</h5>
          </button>
        </h5>
      </div>
      <div id="collapsefour" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
        <div class="card-body">
          <div>
          </div>

        </div>
      </div>
    </div>
    </div>


    <div id="past" class="tab-pane" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="card">
        <div class="card-header" id="headingone">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#one"
              aria-expanded="false" aria-controls="one" style="text-decoration:none">
              <h5>Workshops</h5>
            </button>
          </h5>
        </div>
        <div id="one" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
          <div class="card-body">
            <div>
            </div>

          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header" id="headingtwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#two"
              aria-expanded="false" aria-controls="two" style="text-decoration:none">
              <h5>Expert Lectures</h5>
            </button>
          </h5>
        </div>
        <div id="two" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
          <div class="card-body">
            <div>
            </div>

          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header" id="headingthree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#three"
              aria-expanded="false" aria-controls="three" style="text-decoration:none">
              <h5>Competitions</h5>
            </button>
          </h5>
        </div>
        <div id="three" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
          <div class="card-body">
            <div>
            </div>

          </div>
        </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header" id="headingfour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#four"
              aria-expanded="false" aria-controls="four" style="text-decoration:none">
              <h5>Others</h5>
            </button>
          </h5>
        </div>
        <div id="four" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
          <div class="card-body">
            <div>
            </div>

          </div>
        </div>
      </div>
      </div>

      <div id="team" class="tab-pane" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="col-lg-3 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                <div class="mx-auto">
                  <div class=" profile-info text-center">
                    <div class="profile-icon">
                      <img src="./../../../assets/images/img_avatar2.png" alt="" />
                    </div>
                  </div>
                  <div class="text-center center-text">  <!--text alignent issue-->
                    <p>Devender Singh<br>President</p>

                    <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                    <i class="far fa-envelope fa-fw"></i> abc@gmail.com
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                <div class="mx-auto">
                  <div class=" profile-info text-center">
                    <div class="profile-icon">
                      <img src="./../../../assets/images/img_avatar3.png" alt="" />
                    </div>
                  </div>
                  <div class="text-center center-text">  <!--text alignent issue-->
                    <p>Devender Singh<br>Head, Coding Team</p>

                    <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                    <i class="far fa-envelope fa-fw"></i> abc@gmail.com
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                <div class="mx-auto">
                  <div class=" profile-info text-center">
                    <div class="profile-icon">
                      <img src="./../../../assets/images/img_avatar2.png" alt="" />
                    </div>
                  </div>
                  <div class="text-center center-text">  <!--text alignent issue-->
                    <p>Devender Singh<br>Head, Design Team</p>

                    <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                    <i class="far fa-envelope fa-fw"></i> abc@gmail.com
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-3 kyc-colm user-management">
              <div class="kyc-section rewards-section reports-sectn">
                <div class="mx-auto">
                  <div class=" profile-info text-center">
                    <div class="profile-icon">
                      <img src="./../../../assets/images/img_avatar3.png" alt="" />
                    </div>
                  </div>
                  <div class="text-center center-text">  <!--text alignent issue-->
                    <p>Devender Singh<br>Coordinator</p>

                    <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                    <i class="far fa-envelope fa-fw"></i> abc@gmail.com
                  </div>
                </div>
              </div>

            </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3 kyc-colm user-management">
            <div class="kyc-section rewards-section reports-sectn">
              <div class="mx-auto">
                <div class=" profile-info text-center">
                  <div class="profile-icon">
                    <img src="./../../../assets/images/img_avatar2.png" alt="" />
                  </div>
                </div>
                <div class="text-center center-text">  <!--text alignent issue-->
                  <p>Devender Singh<br>Coordinator</p>

                  <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                  <i class="far fa-envelope fa-fw"></i> abc@gmail.com
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3 kyc-colm user-management">
            <div class="kyc-section rewards-section reports-sectn">
              <div class="mx-auto">
                <div class=" profile-info text-center">
                  <div class="profile-icon">
                    <img src="./../../../assets/images/img_avatar3.png" alt="" />
                  </div>
                </div>
                <div class="text-center center-text">  <!--text alignent issue-->
                  <p>Devender Singh<br>Coordinator</p>

                  <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                  <i class="far fa-envelope fa-fw"></i> abc@gmail.com
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3 kyc-colm user-management">
            <div class="kyc-section rewards-section reports-sectn">
              <div class="mx-auto">
                <div class=" profile-info text-center">
                  <div class="profile-icon">
                    <img src="./../../../assets/images/img_avatar2.png" alt="" />
                  </div>
                </div>
                <div class="text-center center-text">  <!--text alignent issue-->
                  <p>Devender Singh<br>Coordinator</p>

                  <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                  <i class="far fa-envelope fa-fw"></i> abc@gmail.com
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-3 kyc-colm user-management">
            <div class="kyc-section rewards-section reports-sectn">
              <div class="mx-auto">
                <div class=" profile-info text-center">
                  <div class="profile-icon">
                    <img src="./../../../assets/images/img_avatar3.png" alt="" />
                  </div>
                </div>
                <div class="text-center center-text">  <!--text alignent issue-->
                  <p>Devender Singh<br>Coordinator</p>

                  <i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671<br>
                  <i class="far fa-envelope fa-fw"></i> abc@gmail.com
                </div>
              </div>
            </div>

          </div>

          </div>
  </div>
</div>




    <!--middle section content end-->
  </div>

<div class="col-lg-3 kyc-colm user-management">
    <div class="kyc-section rewards-section reports-sectn">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding:1%; padding-top:2%;padding-bottom:2%;">
              <h4>Faculty Coordinators</h4>
            </div>
          </div>
          <hr>
          <div class="profile-info">
            <div class="profile-icon inline-block">
              <div class="row">
              <div class="col-lg-6">
              <img src="../../../assets/images/img_avatar2.png" class="float-right"  alt="" />
              </div>
              <div class="col-lg-6">
              <span>Ms. Priyanka Bamne<br>123456789<br>Assistant Professor</span>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                <img src="../../../assets/images/img_avatar3.png" class="float-right"  alt="" />
                </div>
                <div class="col-lg-6">
                <span>Faculty name<br>123456789<br> Student</span>
                </div>
              </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                <img src="../../../assets/images/img_avatar2.png" class="float-right"  alt="" />
                </div>
                <div class="col-lg-6">
                <span>Faculty name<br>123456789<br> Professor</span>
                </div>
              </div>
            <hr>
          </div>
          <div>
            <br>
            <h6>Contact Us</h6>
            <div class="contact-icon">
              <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i> 0731-256432</p>
              <p><i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671</p>
              <p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> abc@gmail.com</p>
            </div>

          </div>

        </div>
    </div>
  </div>
</div>
<!--left section end-->
<!--end left pannel-->

<!--Start Right Panel-->
<!--End Right Panel-->
</div>
