<div class="modal fade" id="AddEquipment" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Inventory</h4>
        <button type="button" class="close" (click)="ngOnInit()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #f = "ngForm">
          <div class="row" ngModelGroup="addEquipData">
            <div class="col-lg-6">
              
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="name" class="form-control" id="name" placeholder="Enter name of equipment" name="name" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="quantity" placeholder="Enter Number of item"
                      name="Quantity" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="number">Bill_No.:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="bill_no" placeholder="Enter Bill NUmber" name="bill_no">
                  </div>
                </div>
              </div>
              
            
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="type">Category:</label>
                      </div>
                      <div class="col-lg-8">
                          <select class="dropdown-primary form-control" name="type" required ngModel>
                              <option value="" selected disabled>Type</option>
                              <option>
                                CPU
                              </option>
                              <option>
                                  printer
                                </option>
                                <option>
                                    mouse
                                  </option>
                                  <option>
                                      monitor
                                    </option>
                                    <option>
                                        AC
                                      </option>
                                      <option>
                                          projector
                                        </option>
                                        <option>
                                          Table
                                          </option>
                                          <option>
                                              Chair
                                            </option>
                                            <option>
                                                Desk
                                              </option>
                                              <option>
                                                  Others
                                                </option>
                            </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="room">Room:</label>
                      </div>
                      <div class="col-lg-8">
                          <select class="dropdown-primary form-control" name="room" required ngModel>
                              <option value="" selected disabled>Room</option>
                              <option>
                                mouse
                              </option>
                              <option>
                                  monitor
                                </option>
                            </select>
                      </div>
                    </div>
                  </div>
             
             
             
              
              
              
            </div>
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"  [disabled]="!f.valid"data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="AddCategory" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add Category</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" action="/action_page.php">
            <div class="row">
                <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="category">Category:</label>
                      </div>
                      <div class="col-lg-8">
                        <input type="name" class="form-control" id="category" placeholder="Enter new Category" name="category">
                      </div>
                    </div>
                  </div>
              
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [disabled]="!f.valid" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="AddBill" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Bill Information</h4>
        <button type="button" class="close" (click)="ngOnInit()" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #g = "ngForm" >
          <div class="row" ngModelGroup="addBillData">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="order_no">Order_No:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="stock_id" class="form-control" id="order_no" placeholder="Enter Order_Number"
                      name="order_no" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="name" class="form-control" id="name_s" placeholder="Enter name of Supplier" name="name_s" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="address">Address:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="address" class="form-control" id="address" placeholder="Enter Address of Supplier"
                      name="address" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="number">Bill_No.:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="bill_no" placeholder="Enter Bill NUmber" name="number" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="date">Date:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="date" class="form-control" id="date" placeholder="Enter Date of Purchase" name="date" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="item_name">Item_Name:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="item_name" class="form-control" id="item_name" placeholder="Enter Item Name"
                      name="item_name" required ngModel>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="specification">Specification:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="specification" class="form-control" id="sp" placeholder="Enter Specification"
                      name="sp">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity" name="quantity" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="price">Price:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="price" class="form-control" id="price" placeholder="Enter Price" name="price" required ngModel>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="">CGST:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="cgst" class="form-control" id="cgst" placeholder="Enter CGST" name="cgst">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="sgst">SGST:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="sgst" class="form-control" id="sgst" placeholder="Enter SGST" name="sgst">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="price_t">Total_Price:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="price_t" class="form-control" id="price_t" placeholder="Enter Total_Price:" name="price_t" required ngModel>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-2.5">
                <label class="control-label col-sm-2" for="duration">Warranty_period:</label>
              </div>
              <div class="col-lg-9.5">
                <input type="duration" class="form-control" id="duration" placeholder="Enter Warranty_period"
                  name="duration">
              </div>
            </div>
          </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!g.valid" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" id="ShowInventory" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{equipType}}</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="ngOnInit()">&times;</button>
      </div>
      <div class="modal-body">
        <div  class="ScrollStyle">
          <table  class="table table-striped">
        
            <tr>
        
              <th>S. No.</th>
              <th>Name</th>
        
              <th>Quantity</th>
        
              <th>Bill no</th>
        
              <th>Room Name</th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>5</td>
              <td>jkcuih</td> 
              <td>jwndjn</td>
              <td>jnjdnw</td>
              <td>cygwyg</td>
              <td>
          
                  <!-- <button class="btn btn-primary"  data-toggle="modal"
                    data-target="#booksEditModal">Edit</button> -->
                    <button class="btn btn-link " data-toggle="modal"
                    data-target="#EditEquipment" data-dismiss="modal"
                     ><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true" ></i></button>

              </td>
              <td>
               
                
                  <!-- <button class="btn btn-danger" (click)="getBookByBookId(book.bookId)"  data-toggle="modal"
                    data-target="#booksRemoveModal">Remove</button> -->
                    <button class="btn btn-link " data-toggle="modal" data-dismiss="modal"
                    data-target="#RemoveEquipment" (click) = "getInfra(f.id)" ><i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i></button>
              </td>
              
            </tr>
            <tr>
              <td>5</td>
              <td>jkcuih</td> 
              <td>jwndjn</td>
              <td>jnjdnw</td>
              <td>cygwyg</td>
              <td>
          
                  <!-- <button class="btn btn-primary"  data-toggle="modal"
                    data-target="#booksEditModal">Edit</button> -->
                    <button class="btn btn-link " data-toggle="modal"
                    data-target="#EditEquipment" data-dismiss="modal"
                     ><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true" ></i></button>

              </td>
              <td>
               
                
                  <!-- <button class="btn btn-danger" (click)="getBookByBookId(book.bookId)"  data-toggle="modal"
                    data-target="#booksRemoveModal">Remove</button> -->
                    <button class="btn btn-link " data-toggle="modal" data-dismiss="modal"
                    data-target="#RemoveEquipment" (click) = "getInfra(f.id)" ><i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i></button>
              </td>
              
            </tr>
          </table>
          
        </div>
      </div>
      
    </div>

  </div>
</div>

<div class="modal fade" id="EditEquipment" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Update Inventory</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="ngOnInit()">&times;</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal"  #e = "ngForm">
          <div class="row">
            <div class="col-lg-6">
              
              <div class="form-group" ngModelGroup="editInfraData">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="name" class="form-control" id="name" placeholder="Enter name of equipment" name="name">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="Quantity" placeholder="Enter Number of item"
                      name="Quantity">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="number">Bill_No.:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="bill_no" placeholder="Enter Bill NUmber" name="number">
                  </div>
                </div>
              </div>
              
            
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="type">Category:</label>
                      </div>
                      <div class="col-lg-8">
                          <select class="dropdown-primary form-control" name="type" required ngModel>
                              <option value="" selected disabled>Type</option>
                              <option>
                                mouse
                              </option>
                              <option>
                                  monitor
                                </option>
                            </select>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="room">Room:</label>
                      </div>
                      <div class="col-lg-8">
                          <select class="dropdown-primary form-control" name="room" required ngModel>
                              <option value="" selected disabled>Room</option>
                              <option>
                                mouse
                              </option>
                              <option>
                                  monitor
                                </option>
                            </select>
                      </div>
                    </div>
                  </div>
             
             
             
              
              
              
            </div>
          </div>
         
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="RemoveEquipment" tabindex="-1" role="dialog" aria-labelledby="RemoveEquipmentLabel"aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RemoveEquipmentLabel">Remove</h5>
        <button type="button" (click)="ngOnInit()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-row">
            <div class="col-7">
              <h4>Are you sure you want to remove ?</h4>
            </div>
            <div class="col-2">
              <button type="submit" (click)="ngOnInit()" class="btn btn-danger btnWidth"
                data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-2">
              <button type="submit"(click)="removeInfra()" data-dismiss="modal" class="btn btn-primary btnWidth">Remove </button>
            </div>
            <!-- <div class="col-1">
              <input type="hidden" name="Id" id="Id" [(ngModel)]="t.id">
            </div> -->
            
          </div>
        
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="ShowBills" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Stock Bills</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="ngOnInit()">&times;</button>
      </div>
      <div class="modal-body">
        <div  class="ScrollStyle">
            <div class="row">
                <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="category">Enter {{searchBill}}</label>
                      </div>
                      <div class="col-lg-8">
                        <input type="name" class="form-control" id="category" placeholder="Enter Bill Number" name="category">
                      </div>
                    </div>
                  </div>
              
            </div>
           
          <table  class="table table-striped">
        
            <tr>
        
              <th>S. No.</th>
              <th>Bill No.</th>
              <th>Supplier Name</th>
        
              <th>Item Name</th>
        
              <th>Date</th>
        
              <th>Total Price</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr>
              <td>5</td>
              <td>jkcuih</td> 
              <td>jwndjn</td>
              <td>jnjdnw</td>
              <td>cygwyg</td>
              <td></td>
              <td>
      
                    <button class="btn btn-link " data-toggle="modal"
                    data-target="#EditBill" data-dismiss="modal"
                     ><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true" ></i></button>

              </td>
              <td>
              
                    <button class="btn btn-primary " data-toggle="modal" data-dismiss="modal"
                    data-target="#ShowFullBill"  >Show</button>
              </td>
              <td>
              </td>
            </tr>
           
          </table>
          
        </div>
      </div>
      
    </div>

  </div>
</div>

<div class="modal fade" id="EditBill" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Bill</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="ngOnInit()">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" #b = "ngForm">
            <div class="row" ngModelGroup="editBillData">
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="order_no">Order_No:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="stock_id" class="form-control" id="order_no" placeholder="Enter Order_Number"
                        name="order_no">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="name">Name:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="name" class="form-control" id="name_s" placeholder="Enter name of Supplier" name="name_s">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="address">Address:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="address" class="form-control" id="address" placeholder="Enter Address of Supplier"
                        name="address">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="number">Bill_No.:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="number" class="form-control" id="bill_no" placeholder="Enter Bill NUmber" name="number">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="date">Date:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="date" class="form-control" id="date" placeholder="Enter Date of Purchase" name="date">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="item_name">Item_Name:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="item_name" class="form-control" id="item_name" placeholder="Enter Item Name"
                        name="item_name">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="specification">Specification:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="specification" class="form-control" id="sp" placeholder="Enter Specification"
                        name="sp">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity" name="quantity">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="price">Price:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="price" class="form-control" id="price" placeholder="Enter Price" name="price">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="">CGST:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="cgst" class="form-control" id="cgst" placeholder="Enter CGST" name="cgst">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="sgst">SGST:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="sgst" class="form-control" id="sgst" placeholder="Enter SGST" name="sgst">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-4">
                      <label class="control-label col-sm-2" for="price_t">Total_Price:</label>
                    </div>
                    <div class="col-lg-8">
                      <input type="price_t" class="form-control" id="price_t" placeholder="Enter Total_Price:" name="price_t">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-2.5">
                  <label class="control-label col-sm-2" for="duration">Warranty_period:</label>
                </div>
                <div class="col-lg-9.5">
                  <input type="duration" class="form-control" id="duration" placeholder="Enter Warranty_period"
                    name="duration">
                </div>
              </div>
            </div>
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
        </div>
      </div>
  
    </div>
  </div>
  <div class="modal fade" id="ShowFullBill" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Bill</h4>
            <button type="button" class="close" data-dismiss="modal" (click)="ngOnInit()">&times;</button>
          </div>
          <div class="modal-body">
            <form class="form-horizontal">
              <div class="row" >
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="order_no">Order_No:</label>
                      </div>
                      <div class="col-lg-8">
                    
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="name">Name:</label>
                      </div>
                      <div class="col-lg-8">
                      
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="address">Address:</label>
                      </div>
                      <div class="col-lg-8">
                        
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="number">Bill_No.:</label>
                      </div>
                      <div class="col-lg-8">
                        
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="date">Date:</label>
                      </div>
                      <div class="col-lg-8">
                        
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="item_name">Item_Name:</label>
                      </div>
                      <div class="col-lg-8">
                       
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="specification">Specification:</label>
                      </div>
                      <div class="col-lg-8">
                        
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                      </div>
                      <div class="col-lg-8">
                       
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="price">Price:</label>
                      </div>
                      <div class="col-lg-8">
                       
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="">CGST:</label>
                      </div>
                      <div class="col-lg-8">
                      
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="sgst">SGST:</label>
                      </div>
                      <div class="col-lg-8">
                        
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label col-sm-2" for="price_t">Total_Price:</label>
                      </div>
                      <div class="col-lg-8">
                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-2.5">
                    <label class="control-label col-sm-2" for="duration">Warranty_period:</label>
                  </div>
                  <div class="col-lg-9.5">
                    
                  </div>
                </div>
              </div>
           </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Delete</button>
          </div>
        </div>
    
      </div>
    </div>


<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Central Inventory</span>
  <a class="nav-link" routerLink="../" style="color: ghostwhite">Back</a>
</nav>

<div class="col-lg-12 kyc-colm user-management  kyc-section rewards-section reports-sectn">
  <div class="row">
    <div class="col-lg-9 kyc-colm user-management" style="border-right: 1px solid grey">
      <nav class=" navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 pl-4">Equipments  <button type="button" class="btn btn-default"
          id = "dropdownMenuLink"  style="margin-left: 700px" data-toggle="dropdown" ><i class="fa fa-plus"
              aria-hidden="true"></i></button>
              <div class="dropdown-menu rounded-0 " aria-labelledby="dropdownMenuLink">
                  
                    <a class="dropdown-item collapsed" href="#" role="button" data-toggle="modal" data-target="#AddEquipment"
                    aria-controls="equipments" style="text-decoration:none;">
                    Add Equipment</a>
                    <a class="dropdown-item collapsed" href="#" role="button" data-toggle="modal" data-target="#AddBill"
                      aria-controls="equipments" style="text-decoration:none;">
                      Add Bill information</a>
                      <a class="dropdown-item collapsed" href="#" role="button" data-toggle="modal" data-target="#AddCategory"
                      aria-controls="equipments" style="text-decoration:none;">
                      Add New category</a>
                  </div></span>
      </nav>
      <div class="row pt-4">
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/cpu.png" alt="Smiley face" height="100" width="100"><br>
          <!-- <a href ="#" style="margin-left: 30px" role="button" data-toggle="modal" data-target="#ShowInventory"
          aria-controls="equipments" (click) = 'showEquipment("CPU")'> CPUs</a> -->
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("CPU")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">CPU</button>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/printer.jpeg" alt="Smiley face" height="100" width="100"><br>
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("Printers")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">Printers</button>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/mouse.png" alt="Smiley face" height="100" width="100"><br>
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("Mouse")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">Mouse</button>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/monitor.png" alt="Smiley face" height="100" width="100"><br>
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("Monitors")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">Monitors</button>
        </div>
       
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/ac.png" alt="Smiley face" height="100" width="100"><br>
         
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("AC")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">AC's</button>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/projector.png" alt="Smiley face" height="100" width="100"><br>
     
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("Projectors")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">Projectors</button>
        </div>
         <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/chair.jpeg" alt="Smiley face" height="100" width="100"><br>
  
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("Chairs")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">Chairs</button>

        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/table.png" alt="Smiley face" height="100" width="100"><br>
       
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("Desks")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">Desks</button>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/desk.png" alt="Smiley face" height="100" width="100"><br>
       
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("Tables")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">Tables</button>
        </div>
       
        <div class="col-sm-2 kyc-colm user-management pt-4" style="margin-left: 15px">
          <img src="assets/images/switch.png" alt="Smiley face" height="100" width="100"><br>
          <button class="btn btn-link " style="margin-left: 30px" (click)='showEquipment("Others")' data-toggle="modal"
          data-target="#ShowInventory"   aria-controls="equipments">Others</button>
        </div>
      
        
      </div>
    

      <div class="row pt-4">
       
      </div>
    </div>
  
    <div class="col-lg-3 kyc-colm user-management">
      <div class="row">
        <div class="col-lg-12 kyc-colm user-management">

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Labs
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="list-group">
          
                    <button class="list-group-item" style="margin-left: 30px" (click)='showEquipmentbyRoom("Software lab")' data-toggle="modal"
                    data-target="#ShowInventory"   aria-controls="equipments">Software Engineering lab</button>
                    <button class="list-group-item" style="margin-left: 30px" (click)='showEquipmentbyRoom("Project and research lab")' data-toggle="modal"
                    data-target="#ShowInventory"   aria-controls="equipments">Project and research lab</button>
                    <button class="list-group-item" style="margin-left: 30px" (click)='showEquipmentbyRoom("CNDC lab")' data-toggle="modal"
                    data-target="#ShowInventory"   aria-controls="equipments">CNDC lab</button>
                    <button class="list-group-item" style="margin-left: 30px" (click)='showEquipmentbyRoom("General lab")' data-toggle="modal"
                    data-target="#ShowInventory"   aria-controls="equipments">General lab</button>
    
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Classrooms
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="list-group">
                 

                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Others
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="list-group">
   
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="true" aria-controls="collapseFour">
                    Stock Bills
                  </button>
                </h2>
              </div>

              <div id="collapseFour" class="btn btn-link collapsed" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="list-group">
          
                    <button class="list-group-item" style="margin-left: 30px" (click)='showBillBy("Bill no")' data-toggle="modal"
                    data-target="#ShowBills"   aria-controls="equipments">Bill no</button>
                    <button class="list-group-item" style="margin-left: 30px" (click)= 'showBillBy("Supplier Name")'data-toggle="modal"
                    data-target="#ShowBills"   aria-controls="equipments">Supplier Name</button>
                    <button class="list-group-item" style="margin-left: 30px" (click)='showBillBy("Date of purchase")'data-toggle="modal"
                    data-target="#ShowBils"   aria-controls="equipments">Date</button>
                    
    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
