<div class="modal fade" id="AddFurniture" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Furniture</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="/action_page.php">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="order_no">Order_No:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="stock_id" class="form-control" id="order_no" placeholder="Enter Order_Number" name="order_no">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="name" class="form-control" id="name_s" placeholder="Enter name of Supplier" name="name_s">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="address">Address:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="address" class="form-control" id="address" placeholder="Enter Address of Supplier"
                      name="address">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="number">Bill_No.:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="bill_no" placeholder="Enter Bill NUmber" name="number">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="date">Date:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="date" class="form-control" id="date" placeholder="Enter Date of Purchase" name="date">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="item_name">Item_Name:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="item_name" class="form-control" id="item_name" placeholder="Enter Item Name" name="item_name">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="specification">Specification:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="specification" class="form-control" id="sp" placeholder="Enter Specification" name="sp">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity" name="quantity">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="price">Price:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="price" class="form-control" id="price" placeholder="Enter Price" name="price">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="">CGST:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="cgst" class="form-control" id="cgst" placeholder="Enter CGST" name="cgst">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="sgst">SGST:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="sgst" class="form-control" id="sgst" placeholder="Enter SGST" name="sgst">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="price_t">Total_Price:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="price_t" class="form-control" id="price_t" placeholder="Enter Total_Price:" name="price_t">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-2.5">
                <label class="control-label col-sm-2" for="duration">Warranty_period:</label>
              </div>
              <div class="col-lg-9.5">
                <input type="duration" class="form-control" id="duration" placeholder="Enter Warranty_period" name="duration">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="AddInventory" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Electrical Appliances</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" action="/action_page.php">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="order_no">Order_No:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="stock_id" class="form-control" id="order_no" placeholder="Enter Order_Number"
                      name="order_no">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="name">Name:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="name" class="form-control" id="name_s" placeholder="Enter name of Supplier" name="name_s">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="address">Address:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="address" class="form-control" id="address" placeholder="Enter Address of Supplier"
                      name="address">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="number">Bill_No.:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="bill_no" placeholder="Enter Bill NUmber" name="number">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="date">Date:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="date" class="form-control" id="date" placeholder="Enter Date of Purchase" name="date">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="item_name">Item_Name:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="item_name" class="form-control" id="item_name" placeholder="Enter Item Name"
                      name="item_name">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="specification">Specification:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="specification" class="form-control" id="sp" placeholder="Enter Specification"
                      name="sp">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="quantity">Quantity:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity" name="quantity">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="price">Price:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="price" class="form-control" id="price" placeholder="Enter Price" name="price">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="">CGST:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="cgst" class="form-control" id="cgst" placeholder="Enter CGST" name="cgst">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="sgst">SGST:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="sgst" class="form-control" id="sgst" placeholder="Enter SGST" name="sgst">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-4">
                    <label class="control-label col-sm-2" for="price_t">Total_Price:</label>
                  </div>
                  <div class="col-lg-8">
                    <input type="price_t" class="form-control" id="price_t" placeholder="Enter Total_Price:" name="price_t">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-2.5">
                <label class="control-label col-sm-2" for="duration">Warranty_period:</label>
              </div>
              <div class="col-lg-9.5">
                <input type="duration" class="form-control" id="duration" placeholder="Enter Warranty_period"
                  name="duration">
              </div>
            </div>
          </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
      </div>
    </div>

  </div>
</div>

<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Central Inventory</span>
  <a class="nav-link" routerLink="../" style="color: ghostwhite">Back</a>
</nav>

<div class="col-lg-12 kyc-colm user-management  kyc-section rewards-section reports-sectn">
  <div class="row">
    <div class="col-lg-9 kyc-colm user-management" style="border-right: 1px solid grey">
      <nav class=" navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 pl-4">Electrical Appliances<button type="button" class="btn btn-default"
            style="margin-left: 700px" data-toggle="modal" data-target="#AddInventory"><i class="fa fa-plus"
              aria-hidden="true"></i></button></span>
      </nav>
      <div class="row pt-4">
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/cpu.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" style="margin-left: 30px"> CPUs</a>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/printer.jpeg" alt="Smiley face" height="100" width="100"><br>
          <a href="" class="center-text"> Printers</a>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/mouse.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" style="margin-left: 35px"> Mouse</a>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/monitor.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" style="margin-left: 15px"> Monitors</a>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/ac.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" style="margin-left: 30px"> ACs</a>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/projector.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" style="margin-left: 20px">Projectors</a>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4" style="margin-left: 15px">
          <img src="assets/images/switch.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" class="center-text">Others</a>
        </div>
      </div>
      <hr>
      <nav class=" navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1 pl-4">Furniture<button type="button" class="btn btn-default" style="margin-left: 800px"
            data-toggle="modal" data-target="#AddFurniture"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
      </nav>

      <div class="row pt-4">
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/chair.jpeg" alt="Smiley face" height="100" width="100"><br>
          <a href="" class="center-text">Chairs</a>

        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/table.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" class="center-text"> Desks</a>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/desk.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" class="center-text"> Tables</a>
        </div>
        <div class="col-sm-2 kyc-colm user-management pt-4">
          <img src="assets/images/sofa.png" alt="Smiley face" height="100" width="100"><br>
          <a href="" class="center-text"> Others</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 kyc-colm user-management">
      <div class="row">
        <div class="col-lg-12 kyc-colm user-management">

          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Labs
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item">Hardware and Peripheral Lab</a>
                    <a href="#" class="list-group-item">Software Engineering Lab</a>
                    <a href="#" class="list-group-item">CNDC Lab</a>
                    <a href="#" class="list-group-item">Data Science Lab</a>
                    <a href="#" class="list-group-item">New Lab 2 Lab</a>
                    <a href="#" class="list-group-item">GCL Lab</a>
                    <a href="#" class="list-group-item">IOT Lab</a>
                    <a href="#" class="list-group-item">PG-Lab</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Classrooms
                  </button>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item">LT201</a>
                    <a href="#" class="list-group-item">LT301</a>
                    <a href="#" class="list-group-item">208</a>

                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    Others
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  <div class="list-group">
                    <a href="#" class="list-group-item">Audio Visual Learning Center</a>
                    <a href="#" class="list-group-item">Server Room and Data Center</a>
                    <a href="#" class="list-group-item">Conferece Room</a>
                    <a href="#" class="list-group-item">Tutorial Room</a>
                    <a href="#" class="list-group-item">Department Library</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>