<script>
  $(document).ready(function () {
    $('#myTable').dataTable();
  });
</script>

<div class="modal fade" id="addInfra" tabindex="-1" role="dialog" aria-labelledby="addInfraLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addInfraLabel">Add an Infrastructure</h5>
        <button type="button" class="close" (click)="ngOnInit()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  #f = "ngForm">
          <div id="add-infrastructure" ngModelGroup="addInfraData">
            
          <div class="form-group">
            <label for="InfraTypes">Infrastructure Type</label>
            <select class="dropdown-primary form-control" name="infraType" required ngModel>
              <option value="" selected disabled>Infrastructure Type</option>
              <option *ngFor="let i of infratype" [value]="i">
                {{i}}
              </option>
            </select>
          </div>
          <div class="row">
          <div class="col-6">
            <label for="infraName">Name</label>
            <input type="text" class="form-control" id="infraName" name="infraName" required ngModel>
          </div>
          <div class="col-6">re Engineerin
            <label for="infraAcronym">Acronym</label>
            <input type="text" class="form-control" id="infraAcronym" name="infraAcronym" required ngModel>
          </div>
          </div>
          <div class="row">
          <div class="col-6">
            <label for="location">Location</label>
            <input type="text" class="form-control" list="suggestions2" id="infraLocation" name="infraLocation" required ngModel>
           <datalist id = "suggestions2">
             <option *ngFor = "let l of locations">{{l}}</option>
           </datalist>
            
          </div>
          <div class="col-4">
            <label for="infraArea">Area</label>
            <input type="number" class="form-control" id="infraArea" name="infraArea" required ngModel>
          </div>
          <div class="col-2">
            <label for="areaUnit"> </label>
          <p> Sq. feet  </p>
          </div>
          </div>

          <div class="form-group">
            <label for="incharge">Incharge</label>
            <select class="dropdown-primary form-control" name="incharge" required ngModel>
              <option value="" selected disabled>Incharge</option>
              <option *ngFor="let f of fData" [value]="f.id">
                {{f.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="associateIncharge">Associate Incharge</label>
            <select class="dropdown-primary form-control" name="associateIncharge" required ngModel>
              <option value="" selected disabled>Associate Incharge</option>
              <option *ngFor="let f of fData" [value]="f.id">
                {{f.name}}
              </option>
            </select>
          </div>
          <div class="row">
          <div class="col-6">
            <label for="staff">Staff</label>
            <select class="dropdown-primary form-control" name="staff" required ngModel>
              <option value="" selected disabled>Staff</option>
              <option *ngFor="let s of sData" [value]="s.id">
                {{s.name}}
              </option>
            </select>
           
          </div>
          <div class="col-6">
            <label for="attendant">Attendant</label>
            <input type="text" class="form-control" id="attendant" name="attendant" required ngModel>
          </div>
          </div>
         
          <div class="form-group">
            <label for="infraDes">Description</label>
            <textarea class="form-control" id="infraDes" name="infraDes" ngModel></textarea>
          </div>
         
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"(click)="ngOnInit()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"(click)="onAdd()" [disabled]="!f.valid">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infraEditModal" tabindex="-1" role="dialog" aria-labelledby="infraEditModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infraEditLabel"> Edit  Infrastructure</h5>
        <button type="button" class="close" (click)="ngOnInit()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  #e = "ngForm">
          <div id="edit-infrastructure" ngModelGroup="editInfraData">
            <div  >
          <div class="form-group" >
            <label for="InfraTypes">Change Infrastructure Type</label>
            <select class="dropdown-primary form-control" name="infraType" required  [ngModel]="infraById?.type">
              <option [value] = " " selected  ></option>
              <option *ngFor="let i of infratype" [value]="i">
                {{i}}
              </option>
            </select>
          </div>
          <div class="row">
          <div class="col-6">
            <label for="infraName">Change Name</label>
            <input type="text" class="form-control" id="infraName" name="infraName" required [ngModel]="infraById?.name" >
          </div>

          <div class="col-6">
            <label for="infraAcronym">Change Acronym</label>
            <input type="text" class="form-control" id="infraAcronym" name="infraAcronym" required [ngModel]="infraById?.nameAcronym">
          </div>
          </div>
          <div class="row">
          <div class="col-6">
            <label for="location">Change Location</label>
            <input type="text" class="form-control" list="suggestions2" id="infraLocation" name="infraLocation" required [ngModel]="infraById?.location">
           <datalist id = "suggestions2">
             <option *ngFor = "let l of locations">{{l}}</option>
           </datalist>
            
          </div>
          <div class="col-4">
            <label for="infraArea">Change Area</label>
            <input type="number" class="form-control" id="infraArea" name="infraArea" [ngModel]="infraById?.area" >
          </div>
          <div class="col-2">
            <label for="areaUnit"> </label>
          <p> Sq. feet  </p>
          </div>
          </div>

          <div class="form-group">
            <label for="incharge">Change Incharge</label>
            <select class="dropdown-primary form-control" name="incharge" required [ngModel]="infraById?.incharge">
              <option value = '' selected disabled></option>
              <option *ngFor="let f of fData" [value]="f.id">
                {{f.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="associateIncharge">Change Associate Incharge</label>
            <select class="dropdown-primary form-control" name="associateIncharge"  [ngModel]="infraById?.associateIncharge">
              <option value="" selected disabled></option>
              <option *ngFor="let f of fData" [value]="f.id">
                {{f.name}}
              </option>
            </select>
          </div>
          <div class="row">
          <div class="col-6">
            <label for="staff">Change Staff</label>
            <select class="dropdown-primary form-control" name="staff" [ngModel]="infraById?.staff">
              <option value="" selected disabled></option>
              <option *ngFor="let s of sData" [value]="s.id">
                {{s.name}}
              </option>
            </select>
           
          </div>
          <div class="col-6">
            <label for="attendant">Change Attendant</label>
            <input type="text" class="form-control" id="attendant" name="attendant" [ngModel]="infraById?.attendant">
          </div>
          </div>
          <div class="col-3">
            <input type="hidden" name="infraId" id="infraId" [ngModel]="infraById?.id">
          </div>
         
          <div class="form-group">
            <label for="infraDes">Change Description</label>
            <textarea class="form-control" id="infraDes" name="infraDes" [ngModel]="infraById?.description"  ></textarea>
          </div>
          <div >
            <input type="hidden" name="infraId" id="infraId" [ngModel]="infraById?.id">
          </div>
          
            </div>
         
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"(click)="ngOnInit()" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="onUpdate()">Update</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infraRemoveModal" tabindex="-1" role="dialog" aria-labelledby="infraRemoveModalLabel"aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infraRemoveModalLabel">Remove Task</h5>
        <button type="button" (click)="ngOnInit()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
          <!-- <div *ngFor="let t of remTask">
            <div class="form-row">
              <div class="col-4">
                <label for="taskName">Task Name</label>
                  <input type="text" id="taskName" class="form-control" disabled name="taskName" [(ngModel)]="t.taskName">
              </div>
              <div class="col-4">
                <label for="assignedTo">Assigned To</label>
                  <input type="text" id="assignedTo" class="form-control" disabled name="assignedTo" [(ngModel)]="t.userName">
              </div>
              <div class="col-4">
                <label for="assignedDate">Start Date</label>
                  <input type="text" id="assignedDate" class="form-control" disabled name="assignedDate" [(ngModel)]="t.createdDate">
              </div>
            </div>
            <br>
            <div class="form-row">
              <div class="col-7">
                <h4>Are you sure you want to remove task ?</h4>
              </div>
              <div class="col-2">
                <button type="submit" (click)="ngOnInit()" class="btn btn-danger btnWidth"
                  data-dismiss="modal">Cancel</button>
              </div>
              <div class="col-2">
                <button type="submit"  data-dismiss="modal" class="btn btn-primary btnWidth">Remove </button>
              </div>
              <div class="col-1">
                <input type="hidden" name="Id" id="Id" [(ngModel)]="t.id">
              </div>
              
            </div>
          </div> -->
          <div class="form-row">
            <div class="col-7">
              <h4>Are you sure you want to remove task ?</h4>
            </div>
            <div class="col-2">
              <button type="submit" (click)="ngOnInit()" class="btn btn-danger btnWidth"
                data-dismiss="modal">Cancel</button>
            </div>
            <div class="col-2">
              <button type="submit"(click)="removeInfra()" data-dismiss="modal" class="btn btn-primary btnWidth">Remove </button>
            </div>
            <!-- <div class="col-1">
              <input type="hidden" name="Id" id="Id" [(ngModel)]="t.id">
            </div> -->
            
          </div>
        
      </div>

    </div>
  </div>
</div>

<div class="input-group mb-1">
  <ul class="nav nav-pills nav-fill col-lg-12" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
        aria-selected="true">Labs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
        aria-selected="false">Classrooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-frooms-tab" data-toggle="pill" href="#pills-frooms" role="tab" aria-controls="pills-frooms"
        aria-selected="false">Faculty Rooms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
        aria-selected="false">Others</a>
    </li>
    <li>
      <button class="btn" style="width:200px;margin-left:5px" routerLink="Cinventory">Inventory</button>
    </li>
    <li>
      <input type="text" style="width:460px; height: 38px;margin-left:5px" placeholder="search.." name="search" (keyup)= "getInfrastructure($event.target.value)">
    </li>
    <i class="fa fa-plus-circle fa-2x pl-2" data-toggle="modal" data-target="#addInfra" title="Add an Infrastructure"
      aria-hidden="true"></i>
  </ul>
</div>

<div *ngIf = "!showSearchedRecords"  class="col-lg-12 kyc-colm user-management kyc-section rewards-section reports-sectn">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div class="pt-2">
       
    
        <h4 id="lab">Labs</h4>
        <hr>
        <div class="row">
          <div class="col-lg-4 kyc-section rewards-section reports-sectn pb-4" *ngFor='let f of labs'  style="background-color: rgb(208, 225, 245);">
            <div class="inline-block">
              <div class="row">
                <h5 class="col-9">{{f.name}}</h5>
              
                <div class="col-2" style="text-decoration: none;">
                  <a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" style="text-decoration:none; position: relative; bottom:10px; left: 20px;">
                    <i class="fa fa-arrow-right" routerLink="timetable" role="button" (click)="infraName(inf)"
                      aria-hidden="true"> </i>
                  </a>


                </div>
               
            </div>
            <hr>
            <div>
              <p>Location: {{ f.location}}<br />
                Incharge: {{ f.incharge}}<br />
                Associate Incharge: {{ f.associateIncharge}}<br />
                <!-- Subjects: Operating Systems, DBMS, Computer Architecture<br /> -->
                Staff: {{f.staff}}</p>
            </div>
            <div class="row">
              <div class="col-8">

              </div>
              <div class="col-2">
                <button class="btn btn-link " data-toggle="modal"
                data-target="#infraEditModal" (click)="getInfraById(f.id)"
                 ><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true" ></i></button>
              </div>
              <div class="col-2">
                <button class="btn btn-link " data-toggle="modal"
                data-target="#infraRemoveModal" (click) = "getInfra(f.id)" ><i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i></button>
              </div>
             
            </div>
            
          </div>
        </div>

      </div>
    </div>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

      <h4 id="Classroom ">Classrooms</h4>
      <hr>
      <div class="row">
        <div class="col-lg-4 kyc-section rewards-section reports-sectn pb-4" *ngFor='let f of crooms' style="background-color: rgb(208, 225, 245);">
          <div class="inline-block">
            <div class="row">
              <h5 class="col-9">{{f.name}}</h5>
              <div class="col-2" style="text-decoration: none;">
                <a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" style="text-decoration:none; position: relative; bottom:10px; left: 20px;">
                  <i class="fa fa-arrow-right" routerLink="timetable" role="button" (click)="infraName(inf)"
                    aria-hidden="true"> </i>
                </a>

              </div>
            </div>
          </div>
          <hr>
          <div>
            <p>Location: {{ f.location}}<br />
              Incharge: {{ f.incharge}}<br />
              Associate Incharge: {{ f.associateIncharge}}<br />
              <!-- Subjects: Operating Systems, DBMS, Computer Architecture<br /> -->
              Staff: {{f.staff}}</p>
          </div>
          <div class="row">
            <div class="col-8">

            </div>
            <div class="col-2">
              <button class="btn btn-link " data-toggle="modal"
              data-target="#infraEditModal" (click) = "getInfraById(f.id)"
               ><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true" ></i></button>
            </div>
            <div class="col-2">
              <button class="btn btn-link " data-toggle="modal"
              data-target="#infraRemoveModal" (click) = "getInfra(f.id)" ><i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i></button>
            </div>
           
          </div>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="pills-frooms" role="tabpanel" aria-labelledby="pills-frooms-tab">
      <h4 id="Classroom">Faculty Rooms</h4>
      <hr>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-4 kyc-section rewards-section reports-sectn" *ngFor='let f of facultyRooms' style="margin-bottom: 4px; background-color: rgb(208, 225, 245)">
            <h5 class="col-10">{{f.name}}</h5>
            <hr />
            <p class="col-12" style="font-size: 90%"> {{f.associatedTo }}<br>
              Location : {{f.location}}
            </p>
            <div class="row">
              <div class="col-8">
  
              </div>
              <div class="col-2">
                <button class="btn btn-link " data-toggle="modal"
                data-target="#infraEditModal" 
                 ><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"  (click) = "getInfraById(f.id)"></i></button>
              </div>
              <div class="col-2">
                <button class="btn btn-link " data-toggle="modal"
                data-target="#infraRemoveModal" (click) = "getInfra(f.id)" ><i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i></button>
              </div>
             
            </div>
          </div>
    
        </div>
      </div>
    </div>


    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <h4>Others</h4>
      <hr>
      <div class="row">
        <div class="col-lg-4 kyc-section rewards-section reports-sectn pt-4" *ngFor='let inf of others' style="background-color: rgb(208, 225, 245);">
          <div class="inline-block">
            <div class="row">
              <h5 class="col-9">{{inf.name}}</h5>
              <div class="col-2" style="text-decoration: none;">
                <a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" style="text-decoration:none; position: relative; bottom:10px; left: 20px;">
                  <i class="fa fa-arrow-right" routerLink="timetable" role="button" aria-hidden="true"> </i>
                </a>

              </div>
            </div>
          </div>
          <hr>
          <div>
            <p>Location: {{ inf.location}}<br />
              Incharge: {{ inf.incharge}}<br />
              Associate Incharge: {{ inf.associateIncharge}}<br />
              Staff: {{inf.staff}}
          </p>
          </div>
          <div class="row">
            <div class="col-8">

            </div>
            <div class="col-2">
              <button class="btn btn-link " data-toggle="modal"
              data-target="#infraEditModal"  
               ><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true" (click) = "getInfraById(inf.id)" ></i></button>
            </div>
            <div class="col-2">
              <button class="btn btn-link " data-toggle="modal"
              data-target="#infraRemoveModal" (click) = "getInfra(inf.id)" ><i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i></button>
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf = "showSearchedRecords"  class="col-lg-12 kyc-colm user-management kyc-section rewards-section reports-sectn">
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <div   class="pt-2">

        <!-- <h4 id="lab">{{f.type}}</h4> -->
        <hr>
        <div class="row">
          <div class="col-lg-4 kyc-section rewards-section reports-sectn pb-4"  *ngFor='let f of infrastructure' style="background-color: rgb(208, 225, 245);">
            <div class="inline-block">
              <div class="row">
                <h5 class="col-9">{{f.name}}</h5>
                <div class="col-2" style="text-decoration: none;">
                  <a class="nav-link" href="" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true" style="text-decoration:none; position: relative; bottom:10px; left: 20px;">
                    <i class="fa fa-arrow-right" routerLink="timetable" role="button" (click)="infraName(inf)"
                      aria-hidden="true"> </i>
                  </a>

                </div>
              </div>
            </div>
            <hr>
            <div>
              <p>Location: {{ f.location}}<br />
                Incharge: {{ f.incharge}}<br />
                Associate Incharge: {{ f.associateIncharge}}<br />
                <!-- Subjects: Operating Systems, DBMS, Computer Architecture<br /> -->
                Staff: {{f.staff}}</p>
            </div>
            <div class="row">
              <div class="col-8">

              </div>
              <div class="col-2">
                <button class="btn btn-link " data-toggle="modal"
                data-target="#infraEditModal" 
                 ><i class="fa fa-pencil fa-fw fa-lg" aria-hidden="true"  (click) = "getInfraById(f.id)"></i></button>
              </div>
              <div class="col-2">
                <button class="btn btn-link " data-toggle="modal"
                data-target="#infraRemoveModal" (click) = "getInfra(f.id)" ><i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i></button>
              </div>
             
            </div>
          </div>
        </div>

      </div>
    </div>


   


  
  </div>
</div>
