<!-- Tooltip -->
<link href="../../../assets/css/tooltip.css" rel="stylesheet" type="text/css" />
<script src="js/tooltip.js" type="text/javascript"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script type="text/javascript" src="../../../assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap-datepicker.js"></script>

<!--grid script-->
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function () {
    $('#myTable').dataTable();
  });
</script>
<!--END grid script-->
<div class="container">
  <div class="row">
    
    <div class="col-lg-3 profile-info">
      <app-sidenavigation></app-sidenavigation>
     
    </div>

    <div class="col-lg-9 kyc-colm user-management ">
      <div class="kyc-section rewards-section reports-sectn">
        <ul class="nav nav-pills nav-fill" id="myTab">
          <li class="nav-item">
            
            <a class="nav-link active  nav-fill show active" id="sectionX-tab" data-toggle="pill" href="#sectionX" role="tab" aria-controls="sectionX"
              aria-selected="true">Leave Request</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link nav-fill " id="sectionY-tab" data-toggle="pill" href="#sectionY" role="tab" aria-controls="sectionY"
              aria-selected="true">Credit Leaves</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-fill" id="sectionZ-tab" data-toggle="pill" href="#sectionZ" role="tab" aria-controls="sectionZ"
              aria-selected="true">Create New Leaves</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-fill " id="sectionW-tab" data-toggle="pill" href="#sectionW" role="tab" aria-controls="sectionW"
              aria-selected="true">View Leave Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-fill " id="sectionP-tab" data-toggle="pill" href="#sectionP" role="tab" aria-controls="sectionP"
              aria-selected="true">Apply for leave</a>
          </li>
          
        </ul>
        <div class="tab-content" id="pills-tabContent">
          
          <div class="tab-pane fade show active" id="sectionX" role="tabpane1" aria-labelledby="sectionX-tab">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Filter By faculty</mat-label>
                    <br>
    
                    <mat-select ngModel="Select"ngModel="Select" class="form-control" id="select_faculty" name="select_faculty" (ngModelChange)="getLeavesByName($event)">
                      
                      <mat-option *ngFor="let staff of staffs" [value]="staff.name">
                        {{staff.name}}
                      </mat-option>
    
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="col-lg-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Select Status</mat-label>
                    <br>
                    <mat-select ngModel="Select"ngModel="Select" class="form-control" id="select_faculty" name="select_faculty" (ngModelChange)="getLeavesByStatus($event)">
                      
                      <mat-option value="pending">Pending</mat-option>
                        <mat-option value="approved">Approved</mat-option>
                        <mat-option value="declined">Declined</mat-option>
                        <mat-option value="rejoined">Rejoined</mat-option>
                        <mat-option value="cancelled">Cancelled</mat-option>
                      
    
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>
             
              

              <div class="ScrollStyle">
                <table class="table table-bordered "  id="myTable">
                  <thead>
                    <br>
                    <tr style="background-color:rgb(166, 168, 177); font-weight : bold; ">
                    
                              <td>Faculty Name</td>
                              <td>Type of leave</td>
                              <td>From</td>
                              <td>From Duration</td>
                              <td>To</td>
                              <td>To Duration</td>
                              <td>Pefix</td>
                              <td>Suffix</td>
                              <td>Status</td>
                              <td>Accept/Decline/Modify</td>
                          
                    </tr>
                  </thead>
                  <div ></div>
                      <tbody  *ngFor="let req of leaveRequests; let row_no = index ">
                            <tr class="table-success">
                              <td>{{req.appliedBy}}</td>
                              <td>{{req.typeOfLeave}}</td>
                              <td>{{req.fromDate}}</td>
                              <td>{{req.fromDuration}}</td>
                              <td>{{req.toDate}}</td>
                              <td>{{req.toDuration}}</td>
                              <td>{{req.prefix}}</td>
                              <td>{{req.suffix}}</td>
                              <td style="font-weight: bold;">{{req.status}}</td>                                 
                              <td>
                                
                                <div  *ngIf="req.status  !== 'cancelled' && req.status  !== 'approved' && req.status  !== 'rejoined'">
                                  <button type="button" class="btn btn-success"  (click)="getLeave(req.leaveId,req.typeOfLeave,req.fromDate,req.toDate,req.fromDuration,req.toDuration,req.considerHolidays)" data-toggle="modal"
                                data-target="#acceptleave"
                                title="Accept Leave"
                                aria-hidden="true">Accept</button>
                                </div>
                                
                                <div
                                    class="modal fade"
                                    id="acceptleave"
                                    tabindex="-1"
                                    role="dialog"
                                    aria-labelledby="acceptleave"
                                    aria-hidden="true"
                                  >
                                  <form  (ngSubmit)="approve()" #accept="ngForm">
                                    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                                      <div class="modal-content">
                                    
                                        <div class="modal-header">
                                          <h5 class="modal-title text-center" id="acceptleave">
                                            Accept Leave Request
                                          </h5>
                                          <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-label="Close"
                                            (click)="ngOnInit()"
                                          >
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          
                                          <h6>Do you want to accept this leave request</h6>
                                          <div>
                                            <label for="reason">Add remark: </label>
                                            <textarea ngModel name="acceptRemark" class="form-control" placeholder="Accepted leave because.."
                                              rows="4" id="acceptRemark"></textarea>
                                          </div>
                                        </div>
                                       
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" (click)="ngOnInit()" data-dismiss="modal">
                                            No
                                          </button>
                                          <button type="submit" class="btn btn-success">
                                            Yes
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                  </div>

                                  <div  *ngIf="req.status === 'approved'">
                                    <button type="button" class="btn btn-success"  (click)="getLeave(req.leaveId,req.typeOfLeave,req.fromDate,req.toDate,req.fromDuration,req.toDuration,req.considerHolidays)" data-toggle="modal"
                                  data-target="#cancelAfterapprove"
                                  title="Cancel After approval"
                                  aria-hidden="true">Cancel</button>
                                  </div>
                                  <div
                                  class="modal fade"
                                  id="cancelAfterapprove"
                                  tabindex="-1"
                                  role="dialog"
                                  aria-labelledby="cancelleave"
                                  aria-hidden="true"
                                >
                                
                                <form  (ngSubmit)="cancelAfterApproval()" #cancelAfterApprove="ngForm">
                                  <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                         
                                      <div class="modal-header">
                                        <h5 class="modal-title text-center" id="cancelleave">
                                          Cancel Leave Request
                                        </h5>
                                        <button
                                          type="button"
                                          class="close"
                                          data-dismiss="modal"
                                          aria-label="Close"
                                          (click)="ngOnInit()"
                                        >
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <h6>Do you want to cancel this leave request</h6>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ngOnInit()">
                                          No
                                        </button>
                                        <button type="submit" class="btn btn-primary " >
                                          Yes
                                        </button>
      
                                        
                                      </div>
                                      
                                    </div>
                                  </div>
                                </form>
                                </div>

                                  <div *ngIf="req.status  !== 'cancelled' && req.status  !== 'declined' && req.status  !== 'rejoined' && req.status  !== 'approved'">
                                    <button type="button" class="btn btn-danger" data-toggle="modal"
                                    data-target="#addInfra"
                                    title="Decline Request"
                                    (click)="getLeave(req.leaveId,req.typeOfLeave,req.fromDate,req.toDate,req.fromDuration,req.toDuration,req.considerHolidays)"
                                    aria-hidden="true">Decline</button>
                                  </div>
                                 
                                  <div
                                      class="modal fade"
                                      id="addInfra"
                                      tabindex="-1"
                                      role="dialog"
                                      aria-labelledby="cancelleave"
                                      aria-hidden="true"
                                    >
                                    <form  (ngSubmit)="Decline(req)" #decline="ngForm">
                                      <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                                        <div class="modal-content">
                                          
                                          <div class="modal-header">
                                            <h5 class="modal-title text-center" id="cancelleave">
                                              Decline Leave Request
                                            </h5>
                                            <button
                                              type="button"
                                              class="close"
                                              data-dismiss="modal"
                                              aria-label="Close"
                                              (click)="ngOnInit()"
                                            >
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            
                                            <h6>Do you want to decline this leave request</h6>
                                            <div>
                                              <label for="reason">Add remark: </label>
                                              <textarea ngModel name="declineRemark" class="form-control" placeholder="Declined leave because.."
                                                rows="4" id="declineRemark"></textarea>
                                            </div>
                                          </div>
                                        
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" (click)="ngOnInit()" data-dismiss="modal">
                                              No
                                            </button>
                                            <button type="submit"  class="btn btn-danger"   >
                                              Yes
                                            </button>
    
                                            
                                          </div>
                                          
                                        </div>
                                      </div>
                                    </form>
                                    </div>
                                    <div  *ngIf="req.status  !== 'cancelled'  && req.status  !== 'rejoined' && req.status  !== 'approved'">
                                      <button type="button" class="btn btn-info"  data-toggle="modal"
                                  data-target="#Modify"
                                  title="Modify"
                                  aria-hidden="true" (click)="getLeave(req.leaveId,req.typeOfLeave,req.fromDate,req.toDate,req.fromDuration,req.toDuration,req.considerHolidays)">Modify</button>

                                    </div>
                                    
                                  <!-- Modify starts -->
                                  <div
                                  class="modal fade"
                                  id="Modify"
                                  tabindex="-1"
                                  role="dialog"
                                  aria-labelledby="modifyLabel"
                                  aria-hidden="true"
                                  >
                                  <form  (ngSubmit)="Modify()" #modify="ngForm">
                                    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                                      <div class="modal-content">
                                  
                                        <div class="modal-header">
                                          <h5 class="modal-title text-center" id="modifyLabel">
                                            Modify Requests
                                          </h5>
                                          <button
                                            type="button"
                                            class="close"
                                            data-dismiss="modal"
                                            aria-label="Close"
                                            (click)="ngOnInit()"
                                          >
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <label class="control-label" for="Type of leave">Leave Type : </label>
                                          <div>
                                             <select id="leavetype" ngModel="{{typeOfLeave}}" name="leaveType" class="form-control" required>
                                              <option *ngFor="let leave of leave_type" value="{{leave.leaveName}}">{{leave.leaveName}}</option>
                                        
                                            </select> 
                                          </div> 
                                          
                                          
                                          <br>
                          
                                          <div class="row">
                                            <div class="col-lg-6">
                                              <label for="From">From : </label>
                                              <input type="date" name="from" id="from" ngModel="{{fromDate}}" style="margin-left:2%;">
                                            </div>
                                            <div class="col-lg-6">
                                              <label for="To">To : </label>
                                              <input type="date" name="to" id="to" ngModel="{{toDate}}" style="margin-left:2%;" >
                                            </div>
                                          </div>
                                          <br>
                                          
                                          <label class="control-label" for="fromDuration">From Duration:</label>
                                          <div class="row" style="margin-left:1%;">
                                            <!-- Material inline 1 -->
                                            <div class="form-check col-lg-4">
                                              <input type="radio" ngModel="{{fromDuration}}" class="form-check-input" id="materialInline1" name="fromDuration" value="First Half">
                                              <label class="form-check-label" for="materialInline1">First Half</label>
                                            </div>
                          
                                            <!-- Material inline 2 -->
                                            <div class="form-check col-lg-4">
                                              <input type="radio" value="Second Half" ngModel="{{fromDuration}}" class="form-check-input" ngModel id="materialInline2" name="fromDuration">
                                              <label class="form-check-label" for="materialInline2">Second Half</label>
                                            </div>
                          
                                            <!-- Material inline 3 -->
                                            <div class="form-check col-lg-4">
                                              <input type="radio" value="Full" ngModel="{{fromDuration}}" class="form-check-input" ngModel  id="materialInline3" name="fromDuration">
                                              <label class="form-check-label" for="materialInline3">Full Day</label>
                                            </div>
                                          </div>
                                          <br>
                                          <label class="control-label" for="toDuration">To Duration:</label>
                                          <div class="row" style="margin-left:1%;">
                                            <!-- Material inline 1 -->
                                            <div class="form-check col-lg-4">
                                              <input type="radio" ngModel="{{toDuration}}"   class="form-check-input" id="materialInline1" name="toDuration" value="First Half">
                                              <label class="form-check-label" for="materialInline1">First Half</label>
                                            </div>
                          
                                            <!-- Material inline 2 -->
                                            <div class="form-check col-lg-4">
                                              <input type="radio" value="Second Half" ngModel="{{toDuration}}" class="form-check-input" ngModel id="materialInline2" name="toDuration">
                                              <label class="form-check-label" for="materialInline2">Second Half</label>
                                            </div>
                          
                                            <!-- Material inline 3 -->
                                            <div class="form-check col-lg-4">
                                              <input type="radio" value="Full" ngModel="{{toDuration}}" class="form-check-input" ngModel  id="materialInline3" name="toDuration">
                                              <label class="form-check-label" for="materialInline3">Full Day</label>
                                            </div>
                                          </div>
                                          <br>
                                          <label class="control-label" for="considerHolidays">Consider public holidays as Leaves</label>
                                          <div class="row" style="margin-left:1%;">
                                            <!-- Material inline 1 -->
                                            <div class="form-check col-lg-4">
                                              <input type="radio" ngModel="{{considerHolidays}}"   class="form-check-input" id="materialInline1" name="considerHolidays" value="true">
                                              <label class="form-check-label" for="materialInline1">Yes</label>
                                            </div>
                          
                                            <!-- Material inline 2 -->
                                            <div class="form-check col-lg-4">
                                              <input type="radio" value="false" ngModel="{{considerHolidays}}"  class="form-check-input" ngModel id="materialInline2" name="considerHolidays">
                                              <label class="form-check-label" for="materialInline2">No</label>
                                            </div>
                          
                                            <!-- Material inline 3 -->
                                            
                                          </div>
                                        
                                      
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="ngOnInit()">
                                            Close
                                          </button>
                                          <button type="submit"  class="btn btn-primary">
                                            Submit
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                  </div>
                                </td>
                            </tr>
                    </tbody>
                        </table>
              </div>
            </div>
            <hr>
          </div>
            
            <div class="tab-pane fade" id="sectionY" role="tabpane1" aria-labelledby="sectionY-tab">
              <div class="col-lg-12 kyc-colm user-management kyc-section rewards-section reports-sectn">
                <br>
               
          
              <form (ngSubmit)="creditLeaveSubmit()" #credit="ngForm">
                <div class=""  *ngIf="showNullError">
                  
                  <p class="alert alert-danger">
                      <strong>Fill all the required fields</strong> 
        
                  </p>
                
              </div>
        
                <label class="control-label" for="Type of leave"><span class="mandatory">*</span>Leave Type : </label>
                <div>
                  
    
                   <select id="leavetype" ngModel="Select"  required name="leaveType" class="form-control" required>
                    <option value="{{leave.leaveName}}" *ngFor="let leave of leave_type">{{leave.leaveName}}</option>
              
                  </select> 
                </div> 
                
                <br>
                <div>
                  <label  class="control-label" for="number of leaves"><span class="mandatory">*</span>Number of leaves: </label>
                  <input type="number" required ngModel class="form-control" id="number_of_leaves" placeholder="Enter Number of leaves" name="number_of_leaves" required>
                </div>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label><span class="mandatory">*</span>Select Faculty</mat-label>
                  <br>

                  <mat-select ngModel="Select"   multiple ngModel="Select" class="form-control" id="select_faculty" name="select_faculty">
                    
                    <mat-option *ngFor="let staff of staffs" [value]="staff.name">
                      {{staff.name}}
                    </mat-option>

                  </mat-select>
                </mat-form-field>
             
                
              
                
                <br>
                <div class="form-actions row text-center ">
                  <div class="col-lg-6 col-md-4">
                    <button type="button" (click)="creditLeavesReset()" class="btn btn-primary button-width float-right">Reset</button>
                  </div>
                  <div class="col-lg-6 col-md-4">
                    <button type="submit"  class="btn btn-success button-width float-left">Proceed</button>
                  </div>
                </div>
                
              </form>
              
              </div>
              
              
    
            </div>
    
            <div class="tab-pane fade" id="sectionZ" role="tabpane1" aria-labelledby="sectionZ-tab" >
              <div class="col-lg-12 kyc-colm user-management kyc-section rewards-section reports-sectn">
                <h2>Create Leave</h2>
                <button type="button" class="btn btn-primary" float="right" style="margin-top: -60px; margin-left: 700px;" data-toggle="modal"
                data-target="#updatecreateleave"
                title="Upadte Existing Leave"
                aria-hidden="true">Update Existing Leaves</button>
                <div
                class="modal fade"
                id="updatecreateleave"
                tabindex="-1"
                role="dialog"
                aria-labelledby="cancelLeaveafterApproval"
                aria-hidden="true"
              >
              <form  (ngSubmit)="updateExistingLeave()" #updateLeaves="ngForm">
                <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                
                    <div class="modal-header">
                      <h5 class="modal-title text-center" id="acceptleave">
                        Update Leave 
                      </h5>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        (click)="ngOnInit()"
                      >
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <label>Select Leave Type</label>
                      <div>
              

                        <select id="leavetype" ngModel="Select"  required name="leaveType" class="form-control" required>
                         <option value="{{leave.leaveName}}" *ngFor="let leave of leave_type">{{leave.leaveName}}</option>
                   
                       </select> 
                     </div> 
                      <br>

                      <div class="row">
                        <div class="col-lg-6">
                          <label for="from">From : </label>
                          <input type="date" ngModel name="from"  style="margin-left:2%;">
                        </div>
                        <div class="col-lg-6">
                          <label for="to">To : </label>
                          <input type="date" ngModel name="to" style="margin-left:2%;">
                        </div>
                      </div>
                      <div>
                      
                      </div>
                    </div>
                   
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" (click)="ngOnInit()" data-dismiss="modal">
                        No
                      </button>
                      <button type="submit" class="btn btn-success">
                        Yes
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              </div>
              <div class="col-lg-12 kyc-colm user-management kyc-section rewards-section reports-sectn">
                <form (ngSubmit)="CreateLeaveSubmit()" #form="ngForm">
                  <div class=""  *ngIf="showNullError">
                  
                    <p class="alert alert-danger">
                        <strong>Fill all the required fields</strong> 
          
                    </p>
                  
                </div>
                  <label class=""><span class="mandatory">*</span> Leave Name: </label>
                  <br>
                  <input  class="form-control col-lg" type="text" ngModel required name="name" placeholder="enter leave name.."  >
                  <br>
                  <label class="control-label" for="Type of leave"><span class="mandatory">*</span>Leave Type : </label>
                  <div>
                    <select id="leaveType" ngModel="Select" required name="leaveType" class="form-control" >
                
                      <option value="annual">annual</option>
                      <option value="lifelong">lifelong</option>
                    </select>
                  </div>
                  <br>
                  
                  <div class="row">
                    <div class="col-lg-6">
                      <label for="from">From : </label>
                      <input type="date" ngModel name="from"  style="margin-left:2%;">
                    </div>
                    <div class="col-lg-6">
                      <label for="to">To : </label>
                      <input type="date" ngModel name="to" style="margin-left:2%;">
                    </div>
                  </div>
                  <br>
                 
                  <br>
                  <div>
                    <label  class="control-label" for="number of leaves"><span class="mandatory">*</span>Number of leaves: </label>
                    <input type="number" ngModel required class="form-control" id="number_of_leaves" placeholder="Enter Number of leaves" name="number_of_leaves" required>
                  </div>
                  <br>
                  <div>
                  
                    <label for="description">Description : </label>
                    <textarea ngModel name="description" class="form-control" placeholder="New leave."
                      rows="10" id="description"></textarea>
                  </div>
                  <br>
                  <div class="form-actions row text-center ">
                    <div class="col-lg-6 col-md-4">
                      <button type="button" (click)="CreateLeaveReset" class="btn btn-primary button-width float-right">Reset</button>
                    </div>
                    <div class="col-lg-6 col-md-4">
                      <button type="submit"  class="btn btn-success button-width float-left">Proceed</button>
                    </div>
                  </div>
                  
                </form>
    
              </div>
              
              </div>
             
            </div>

            <div class="tab-pane fade" id="sectionW" role="tabpane1" aria-labelledby="sectionW-tab">
              <div class="col-lg-12 kyc-colm user-management kyc-section rewards-section reports-sectn">
                <mat-form-field appearance="fill">
                  <mat-label>Filter By faculty</mat-label>
                  <br>
  
                  <mat-select ngModel="Select" class="form-control" id="getLeavesLeft" name="getLeavesLeft" (ngModelChange)="getLeavesLeft($event)">
                    
                    <mat-option *ngFor="let staff of staffs" [value]="staff.name">
                      {{staff.name}}
                    </mat-option>
  
                  </mat-select>
                </mat-form-field>
                <table class="table table-bordered ">
                  <thead style="background-color:darkcyan; font-weight : bold;">
                    <tr>
                      <td>Leave Type</td>
                      <td>Leave Name</td>
                      <td>Leaves Left</td>
                      <td>Leaves Applied</td>
                    </tr>
                  </thead>
                  <tbody *ngFor="let i of leavesLeft">
                    <tr *ngFor="let ann of i.annual" style="background-color:mediumspringgreen"> 
                      <td>Annual Leave</td>
                      <td>{{ann.leaveName}}</td>
                      <td>{{ann.leavesLeft}}</td>
                      <td>{{ann.leavesApplied}}</td>
                    </tr>
                    <tr *ngFor="let lLong of i.lifelong " style="background-color:tomato"> 
                      <td>Lifelong Leave</td>
                      <td>{{lLong.leaveName}}</td>
                      <td>{{lLong.leavesLeft}}</td>
                      <td>{{lLong.leavesApplied}}</td>
                    </tr>

                  </tbody>
                </table>

                
              </div>
            </div>
            <div class="tab-pane fade" id="sectionP" role="tabpane1" aria-labelledby="sectionP-tab">
              <div class="col-lg-12 kyc-colm user-management kyc-section rewards-section reports-sectn">
            
                <div class=""  *ngIf="showNullError">
                  
                  <p class="alert alert-danger">
                      <strong>Fill all the required fields</strong> 
        
                  </p>
                
              </div>
              <div class=""  *ngIf="showPastDateError">
                  
                <p class="alert alert-danger">
                    <strong>Cannot apply leave for a date that has already passed.</strong> 
      
                </p>
              
            </div>
                <div class=""  *ngIf="showMsg">
                  
                    <p class="alert alert-success">
                        <strong>Request sent</strong> 
          
                    </p>
                  
                </div>
                <div class=""  *ngIf="showDateError">
                  
                  <p class="alert alert-danger">
                      <strong>From date cannot be more than to date</strong> 
        
                  </p>
                
              </div>
              <div class=""  *ngIf="showCreditError">
                  
                <p class="alert alert-danger">
                    <strong>Leaves have not been creditecd for new session</strong> 
      
                </p>
              
            </div>
                <form (ngSubmit)="onSubmit()" #apply="ngForm">
                 
                  <label class="control-label" for="Type of leave">Leave Type : </label>
                  <div>
                     <select id="leavetype" ngModel="Select" name="leaveType" class="form-control" required>
                      <option *ngFor="let leave of leave_type" value="{{leave.leaveName}}">{{leave.leaveName}}</option>
                
                    </select> 
                  </div> 
                  
                  
                  <br>
  
                  <div class="row">
                    <div class="col-lg-6">
                      <label for="From">From : </label>
                      <input type="date" name="applyFrom" id="from" ngModel style="margin-left:2%;">
                    </div>
                    <div class="col-lg-6">
                      <label for="To">To : </label>
                      <input type="date" name="applyTo" id="to" ngModel style="margin-left:2%;" >
                    </div>
                  </div>
                  <br>
                  
                  <label class="control-label" for="fromDuration">From Duration:</label>
                  <div class="row" style="margin-left:1%;">
                    <!-- Material inline 1 -->
                    <div class="form-check col-lg-4">
                      <input type="radio" ngModel   class="form-check-input" id="materialInline1" name="fromDuration" value="First Half">
                      <label class="form-check-label" for="materialInline1">First Half</label>
                    </div>
  
                    <!-- Material inline 2 -->
                    <div class="form-check col-lg-4">
                      <input type="radio" value="Second Half" class="form-check-input" ngModel id="materialInline2" name="fromDuration">
                      <label class="form-check-label" for="materialInline2">Second Half</label>
                    </div>
  
                    <!-- Material inline 3 -->
                    <div class="form-check col-lg-4">
                      <input type="radio" value="Full" class="form-check-input" ngModel  id="materialInline3" name="fromDuration">
                      <label class="form-check-label" for="materialInline3">Full Day</label>
                    </div>
                  </div>
                  <br>
                  <label class="control-label" for="toDuration">To Duration:</label>
                  <div class="row" style="margin-left:1%;">
                    <!-- Material inline 1 -->
                    <div class="form-check col-lg-4">
                      <input type="radio" ngModel   class="form-check-input" id="toDurationFirstHalf" name="toDuration" value="First Half">
                      <label class="form-check-label" for="materialInline1">First Half</label>
                    </div>
  
                    <!-- Material inline 2 -->
                    <div class="form-check col-lg-4">
                      <input type="radio" value="Second Half" class="form-check-input" ngModel id="toDurationSecondHalf" name="toDuration">
                      <label class="form-check-label" for="materialInline2">Second Half</label>
                    </div>
  
                    <!-- Material inline 3 -->
                    <div class="form-check col-lg-4">
                      <input type="radio" value="Full" class="form-check-input" ngModel  id="toDurationFull" name="toDuration">
                      <label class="form-check-label" for="materialInline3">Full Day</label>
                    </div>
                  </div>
                  <br>
                  <label class="control-label" for="considerHolidays">Consider public holidays as Leaves</label>
                  <div class="row" style="margin-left:1%;">
                    
                    <div class="form-check col-lg-4">
                      <input type="radio" ngModel   class="form-check-input" id="considerHolidays0" name="considerHolidays" value="true">
                      <label class="form-check-label" for="materialInline1">Yes</label>
                    </div>
  
                    
                    <div class="form-check col-lg-4">
                      <input type="radio" value="false" class="form-check-input" ngModel id="considerHolidays1" name="considerHolidays">
                      <label class="form-check-label" for="materialInline2">No</label>
                    </div>
  
                    
                    
                  </div>
                  
                  <br>
                  <div>
                    <label for="reason">Reason : </label>
                    <textarea ngModel name="reason" class="form-control" placeholder="Due to some family problem i am not able to come."
                      rows="10" id="reason"></textarea>
                  </div>
                  <br>
                  <div class="form-actions row text-center ">
                    <div class="col-lg-6 col-md-4">
                      <button type="button" (click)="onReset()" class="btn btn-primary button-width float-right">Reset</button>
                    </div>
                    <div class="col-lg-6 col-md-4">
                      <button type="submit"  class="btn btn-success button-width float-left">Proceed</button>
                    </div>
                  </div>
                  
                </form>


                
              </div>
            </div>
    
        </div>
    
        </div>
        </div>

  </div>

</div>

