


<div class="container">
  <div class="row">

    <div class="col-lg-3 profile-info">
      <app-sidenavigation></app-sidenavigation>
    </div>
     <div class="col-lg-9">
      
      <ul class="nav nav-tabs nav-fill">
        
        <li class="nav-item" *ngFor="let course of courses;let i=index" (click)="getQuiz(i)">
          <a  data-toggle="tab" class="nav-link active">   {{course.courseName}}</a>
        </li>
        <li class="nav-item"  (click)="getQuiz('100')">
          <a  data-toggle="tab" class="nav-link active">   All</a>
        </li>
      </ul>
      <div class="tab-content">
        <div >
        <div  *ngFor="let q of quiz ;let i=index"   id="{{q.courseCode}}" class="tab-pane active"  >
          <div class="quizs"   >
              <span> {{q.courseName}} : {{q.quizName}} </span>
              <span class="right" >Grade: {{q.grade}}/{{q.total}} <a class="px-2" routerLink="/student/quiz_review/{{q.quizId}}">review</a></span>
              <p class="m-0 p-0">Date of creation: {{q.dateOfCreation}}</p>
          </div>
          <br>
         
        </div>
    
        <button (click)="getCSV()" class="btn btn-success">Export as csv</button>
      </div>
      <br>
      
     </div>
   
<!--Middle Section finish-->
  </div>
</div>



<!-- ++++++++++++++++++old code++++++++++++++ -->
  <!-- Start Main Panel-->
