<!-- Tooltip -->
<link href="../../../assets/css/tooltip.css" rel="stylesheet" type="text/css" />
<script src="js/tooltip.js" type="text/javascript"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

<script type="text/javascript" src="../../../assets/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../../assets/js/bootstrap-datepicker.js"></script>  

<!--grid script-->
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(function(){
    $('#myTable').dataTable();
  });
</script> 
<!--END grid script-->
<div class="container">
    <div class="row">
  
  <!--Start Left Panel-->
      <div class="col-lg-3 profile-info">
        <app-sidenavigation></app-sidenavigation>
      </div>
  
<div class="col-lg-9 kyc-colm user-management">
    <div class="kyc-section rewards-section reports-sectn">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne" style="text-decoration:none">
              <h5>Tasks</h5>
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div>
              <div class="alert alert-success row">
                <h4 class="col-8">Create Mid Term 1 Time Table </h4>
                <h6 class="col-4">By: Dr. Urjita Thakur</h6>
                <p class="col-4"> Date of Submission : 12/8/2018</p>
                <div class="col-4">
                  <a href="#"><i class="fa fa-download fa-fw" aria-hidden="true"></i> Goto Timetable Creator</a>
                </div>
                <div class="col-4">
                  <a href="#"><i class="fa fa-download fa-fw" aria-hidden="true"></i> Download Report</a>
                </div>
              </div>
              <div class="alert alert-success row">
                <h4 class="col-8">Allocate Lab For Computer Club</h4>
                <h6 class="col-4">By: Mrs Rithambara Patidar</h6>
                <p class="col-8"> Date of Submission : 01/9/2018</p>
                <div class="col-4">
                  <a href="#"><i class="fa fa-download fa-fw" aria-hidden="true"></i> Download Requirement List</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo" style="text-decoration:none">
                <h5>Time Table</h5>
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div class="alert alert-success row">
                <h4 class="col-6">Extra Class on 27/08/2018</h4>
                <h6 class="col-3">By: Somil Neema</h6>
                <h6 class="col-3"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>2 days ago</h6>
                <p class="col-9"> Start From : 4:00 P.M</p>
                <div class="col-3">
                  <a href="#"><i class="fa fa-download fa-fw" aria-hidden="true"></i> Download Report</a>
                </div>
              </div>
              <div class="alert alert-success row">
                <h4 class="col-6"> Guest Lecture on 29/08/2018</h4>
                <h6 class="col-3"> By: Somil Neema</h6>
                <h6 class="col-3"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>3 days ago</h6>
                <p class="col-9"> Start From : 4:00 P.M</p>
                <div class="col-3">
                  <a href="#"><i class="fa fa-download fa-fw" aria-hidden="true"></i> Download Report</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree" style="text-decoration:none">
                <h5>Inverntory</h5>
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div>
              </div>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-header" id="headingfour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsefour"
                  aria-expanded="false" aria-controls="collapsefour" style="text-decoration:none">
                  <h5>Attendance</h5>
                </button>
              </h5>
            </div>
            <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordion">
              <div class="card-body">
                <div>
                </div>

              </div>
            </div>
          </div>
          <!--Notification Panel Ends-->

        
      </div>

    </div>
  </div>
  </div>
  </div>