
.modal-header{
    background-color:rgb(4, 58, 87);
    color:white;
    margin:0%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.select {
width: 250px;

}

hr.new1 {
    border-top: 3px solid orange;
  }
  table {
    border: 1px solid black;
  }

  input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
    border: 1px solid red;
}
.h3{
  color: hue($color: #000000);
}