
  <div class = "row">
    <div class = "col-6">

    <h3 class="text-primary" >Semester Time Table</h3>
    </div>
    <div class = "col-6">
      <div class="input-group mb-1">
        <ul class="nav nav-pills nav-fill col-lg-12" id="pills-tab" role="tablist">
         
          <li class="nav-item">
            <a class="nav-link active" id="pills-add-tab" data-toggle="pill" href="#pills-add" role="tab"  aria-controls="pills-add"
              aria-selected="true"><i class="fa fa-plus fa-fw fa-lg" aria-hidden="true"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-show-tab" data-toggle="pill" href="#pills-show" role="tab" aria-controls="pills-show"
              aria-selected="false"><i class="fa fa-eye fa-fw fa-lg" aria-hidden="true"></i></a>
          </li>
          <li class = "nav-item">
            <button class="btn btn-reset " data-toggle="modal" data-target="#changeSettingsModal"  (click) = "getsetting()"  ><i class="fa fa-gear fa-fw fa-lg" aria-hidden="true"></i></button>
          </li>
          
        </ul>
      </div>
    </div>

</div>


    
  
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-add" role="tabpanel" aria-labelledby="pills-add-tab">
      <br>
      <form #save = "ngForm">
        <div  id="add-sem-records" ngModelGroup="semtimetable">
    <div *ngIf="lectureInHr" class="row">
      
      <div class="col-9">
        <hr class="new1">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="">
              <tr>
                <th scope="col">Timing</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">10:00-11:00</th>
                <td *ngFor="let list of valueslist | slice:0:5;">
          
                    <input  type="checkbox" value="{{list}}"  (change)="onCheckboxChange(list,$event)">
                </td>

                <!-- <td><input type="checkbox" name="vehicle1" id = "vehicle" value="Bike"  data-valuetwo="1"></td>
                <td><input type="checkbox" name="vehicle1"  id = "vehicle1" value="Bike"  data-valuetwo="2"></td>
                <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                <td><input type="checkbox" name="vehicle1" value="Bike"></td> -->
              </tr>
              <tr>
                <th scope="row">11:00-12:00</th>
                <td *ngFor="let list of valueslist | slice:5:10;">
          
                  <input  type="checkbox" id = "checkbox" name = "checkbox" value="{{list}}"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">12:00-1:00</th>
                <td *ngFor="let list of valueslist | slice:10:15;">
          
                  <input  type="checkbox" id = "checkbox" name = "checkbox"  value="{{list}}"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">1:00-2:00</th>
                
              </tr>
              <tr>
                <th scope="row">2:00-3:00</th>
                <td *ngFor="let list of valueslist | slice:15:20;">
          
                  <input  type="checkbox" value="{{list}}" id = "checkbox" name = "checkbox"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">3:00-4:00</th>
                <td *ngFor="let list of valueslist | slice:20:25;">
          
                  <input  type="checkbox" value="{{list}}" id = "checkbox" name = "checkbox" (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">4:00-5:00</th>
                <td *ngFor="let list of valueslist | slice:25:30;">
          
                  <input  type="checkbox" value="{{list}}" id = "checkbox"name = "checkbox"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">5:00-6:00</th>
                <td *ngFor="let list of valueslist | slice:30:35;">
          
                  <input  type="checkbox" value="{{list}}" id = "checkbox" name = "checkbox"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="row">
          <div class="col-8">

          </div>
         
          <div class="col-2">
              <button type="button" (click)="uncheckAll()" class="btn btn-basic">Uncheck All</button>
         
          </div>
          <div class="col-2">
            <button type="button" (click) = "onAdd()" class="btn btn-success">Save</button>
          </div>
          

        </div>
      </div>
  
      <div class="col-3">
        <hr class="new1">
        
        
      
        
            <div >
              <label class="control-label " for="facultyName"><strong>Faculty</strong></label>
            </div>
        
         
          <div >
            <select class="dropdown-primary form-control" required name="facultyName" required ngModel>
              <option value="" selected disabled>Select Faculty</option>
              <option *ngFor="let f of fData" [value]="f.id">
                {{f.name}}
              </option>
              
             
            </select>
            </div>
            <div >
              <label class="control-label " for="course"><strong>Course</strong></label>
            </div>
      
          <div >
            <select class="dropdown-primary form-control" required name="course" (change)="onSelectCourse($event);getSubjectCode()" required ngModel>
              <option value="" selected disabled>Select Course</option>
              <option *ngFor="let c of course" [value]="c">
                {{c}}
              </option>
             
            
             
            </select>
            </div>
            <div class = "row">
            <div class = "col-6" >
              <label class="control-label " for="year"><strong>Year</strong></label>
            </div>
            <div class = "col-6" >
              <label class="control-label " for="sem"><strong>Semester</strong></label>
            </div>
            </div>

        
         <div class = "row">
          <div class="col-6" >
            <select class="dropdown-primary form-control" required name="year"(change)="onSelectYear($event);getSubjectCode()" required ngModel>
        
              
              <option> I  </option>
              <option> II  </option>
              <option> III  </option>
              <option> IV   </option>
             
            </select>
            </div>
            <div class="col-6" >
              <select class="dropdown-primary form-control" required name="sem" (change)="onSelectSem($event);getSubjectCode()" required ngModel>
         
                <option> A </option>
                <option> B  </option>
                
               
              </select>
              </div>
         </div>

            <div >
              <label class="control-label " for="scode"><strong>Subject Code</strong></label>
            </div>
        
         
          <div >
            <select class="dropdown-primary form-control" required name="scode" required ngModel>
              <option value="" selected disabled>Select Subject</option>
              <option *ngFor="let s of subCode" [value]="s">
                {{s}}
              </option>
              
             
             
            </select>
            </div>
         
            <div >
              <label class="control-label " for="ltype"><strong>Lecture Type</strong></label>
            </div>
        
         
          <div >
            <select class="dropdown-primary form-control" required name="ltype" (change)="onSelectLectureType($event);getRoom()" required ngModel>
              <option value="" selected disabled>Select Lecture Type</option>
              <option> Theory  </option>
              <option> Practical  </option>
              
             
            </select>
            </div>
            <div >
              <label class="control-label " for="roomNo"><strong>Room</strong></label>
            </div>
        
         
          <div >
            <select class="dropdown-primary form-control" required name="roomNo" required ngModel>
              <option value="" selected disabled>Select Room No.</option>
              <option *ngFor="let i of infra" [value]="i.id">
                {{i.name}}
              </option>
            </select>
            </div>
        


      </div>




    </div>
    <div *ngIf="!lectureInHr" class="row">
      
      <div class="col-9">
        <hr class="new1">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead class="">
              <tr>
                <th scope="col">Timing</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">10:00-10:50</th>
                <td *ngFor="let list of valueslist | slice:0:5;">
          
                    <input  type="checkbox" value="{{list}}"  (change)="onCheckboxChange(list,$event)">
                </td>

                <!-- <td><input type="checkbox" name="vehicle1" id = "vehicle" value="Bike"  data-valuetwo="1"></td>
                <td><input type="checkbox" name="vehicle1"  id = "vehicle1" value="Bike"  data-valuetwo="2"></td>
                <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                <td><input type="checkbox" name="vehicle1" value="Bike"></td>
                <td><input type="checkbox" name="vehicle1" value="Bike"></td> -->
              </tr>
              <tr>
                <th scope="row">10:50-11:40</th>
                <td *ngFor="let list of valueslist | slice:5:10;">
          
                  <input  type="checkbox" id = "checkbox" name = "checkbox" value="{{list}}"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">11:40-12:30</th>
                <td *ngFor="let list of valueslist | slice:10:15;">
          
                  <input  type="checkbox" id = "checkbox" name = "checkbox"  value="{{list}}"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">12:30-1:20</th>
                <td *ngFor="let list of valueslist | slice:15:20;">
          
                  <input  type="checkbox" id = "checkbox" name = "checkbox"  value="{{list}}"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">1:20-2:20</th>
                
              </tr>
              <tr>
                <th scope="row">2:20-3:10</th>
                <td *ngFor="let list of valueslist | slice:20:25;">
          
                  <input  type="checkbox" value="{{list}}" id = "checkbox" name = "checkbox"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">3:10-4:00</th>
                <td *ngFor="let list of valueslist | slice:25:30;">
          
                  <input  type="checkbox" value="{{list}}" id = "checkbox" name = "checkbox" (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">4:00-4:50</th>
                <td *ngFor="let list of valueslist | slice:30:35;">
          
                  <input  type="checkbox" value="{{list}}" id = "checkbox"name = "checkbox"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
              <tr>
                <th scope="row">4:50-5:40</th>
                <td *ngFor="let list of valueslist | slice:35:40;">
          
                  <input  type="checkbox" value="{{list}}" id = "checkbox" name = "checkbox"  (change)="onCheckboxChange(list,$event)">
              </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="row">
          <div class="col-8">

          </div>
         
          <div class="col-2">
              <button type="button" (click)="uncheckAll()" class="btn btn-basic">Uncheck All</button>
         
          </div>
          <div class="col-2">
            <button type="button" (click) = "onAdd()" class="btn btn-success">Save</button>
          </div>
          

        </div>
      </div>
  
      <div class="col-3">
        <hr class="new1">





        <div >
          <label class="control-label" for="session"><strong>Session</strong></label>
        </div>
           <div >
        <select class="dropdown-primary form-control" required name="session" required ngModel>
          <option value="" selected disabled>Select Session</option>
          <option>
            {{toyear}}
          </option>
          
         
        </select>
        </div>
         
      
        
            <div >
              <label class="control-label " for="facultyName"><strong>Faculty</strong></label>
            </div>
        
         
          <div >
            <select class="dropdown-primary form-control" required name="facultyName" required ngModel>
              <option value="" selected disabled>Select Faculty</option>
              <option *ngFor="let f of fData" [value]="f.id">
                {{f.name}}
              </option>
              
             
            </select>
            </div>
            <div >
              <label class="control-label " for="course"><strong>Course</strong></label>
            </div>
      
          <div >
            <select class="dropdown-primary form-control" required name="course" (change)="onSelectCourse($event);getSubjectCode()" required ngModel>
              <option value="" selected disabled>Select Course</option>
              <option *ngFor="let c of course" [value]="c">
                {{c}}
              </option>
             
            
             
            </select>
            </div>
            <div class = "row">
            <div class = "col-6" >
              <label class="control-label " for="year"><strong>Year</strong></label>
            </div>
            <div class = "col-6" >
              <label class="control-label " for="sem"><strong>Semester</strong></label>
            </div>
            </div>

        
         <div class = "row">
          <div class="col-6" >
            <select class="dropdown-primary form-control" required name="year"(change)="onSelectYear($event);getSubjectCode()" required ngModel>
        
              
              <option> I  </option>
              <option> II  </option>
              <option> III  </option>
              <option> IV   </option>
             
            </select>
            </div>
            <div class="col-6" >
              <select class="dropdown-primary form-control" required name="sem" (change)="onSelectSem($event);getSubjectCode()" required ngModel>
         
                <option> A </option>
                <option> B  </option>
                
               
              </select>
              </div>
         </div>

            <div >
              <label class="control-label " for="scode"><strong>Subject Code</strong></label>
            </div>
        
         
          <div >
            <select class="dropdown-primary form-control" required name="scode" required ngModel>
              <option value="" selected disabled>Select Subject</option>
              <option *ngFor="let s of subCode" [value]="s">
                {{s}}
              </option>
              
             
             
            </select>
            </div>
         
            <div >
              <label class="control-label " for="ltype"><strong>Lecture Type</strong></label>
            </div>
        
         
          <div >
            <select class="dropdown-primary form-control" required name="ltype" (change)="onSelectLectureType($event);getRoom()" required ngModel>
              <option value="" selected disabled>Select Lecture Type</option>
              <option> Theory  </option>
              <option> Practical  </option>
              
             
            </select>
            </div>
            <div >
              <label class="control-label " for="roomNo"><strong>Room</strong></label>
            </div>
        
         
          <div >
            <select class="dropdown-primary form-control" required name="roomNo" required ngModel>
              <option value="" selected disabled>Select Room No.</option>
              <option *ngFor="let i of infra" [value]="i.id">
                {{i.name}}
              </option>
            </select>
            </div>
          
        
        


      </div>




    </div>
  </div>
  </form>

      </div>
      <!-- <div class="tab-pane fade" id="pills-show" role="tabpanel" aria-labelledby="pills-show-tab">
      
        <div class="row">
     
          <div class="col-9">
            <hr class="new1">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="">
                  <tr>
                    <th scope="col">Timing</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">10:00-11:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    
                  </tr>
                  <tr>
                    <th scope="row">11:00-12:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">12:00-1:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">1:00-2:00</th>
    
                  </tr>
                  <tr>
                    <th scope="row">2:00-3:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3:00-4:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">4:00-5:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">5:00-6:00</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
    
            </div>
            <div class="row">
              <div class="col-8">
    
              </div>
             
              <div class="col-2">
                  
             
              </div>
              <div class="col-2">
                <button class="btn btn-reset "  ><i class="fa fa-trash fa-fw fa-lg" aria-hidden="true"></i></button>
              </div>
              
    
            </div>
          </div>
          <div class="col-3">
            <hr class="new1">
            <form>
            
            
            
                <div >
                  <label class="control-label " for="facultyName"><strong>Faculty</strong></label>
                </div>
            
             
              <div >
                <select class="dropdown-primary form-control" name="facultyName" required ngModel>
                  <option value="" selected disabled>Select Faculty</option>
                  <option *ngFor="let f of fdata" [value]="f.id">
                    {{f.name}}
                  </option>
                </select>
                </div>
                <div >
                  <label class="control-label " for="course"><strong>Course</strong></label>
                </div>
            
             
              <div >
                <select class="dropdown-primary form-control" name="course" required ngModel>
                  <option value="" selected disabled>Select Course</option>
                  <option>B.E  </option>
                  <option> M.E  </option>
                
                 
                </select>
                </div>
                <div >
                  <label class="control-label " for="sem"><strong>Semester</strong></label>
                </div>
            
             
              <div >
                <select class="dropdown-primary form-control" name="sem" required ngModel>
                  <option value="" selected disabled>Select Semester</option>
                  <option> I  </option>
                  <option> II  </option>
                  <option> III  </option>
                  <option> IV   </option>
                 
                </select>
                </div>
    
                <div >
                  <label class="control-label " for="scode"><strong>Subject Code</strong></label>
                </div>
            
             
              <div >
                <select class="dropdown-primary form-control" name="scode" required ngModel>
                  <option value="" selected disabled>Select Class</option>
                  <option> CO9876 </option>
                  <option> CO876 </option>
                 
                 
                </select>
                </div>
             
                <div >
                  <label class="control-label " for="ltype"><strong>Lecture Type</strong></label>
                </div>
            
             
              <div >
                <select class="dropdown-primary form-control" name="ltype" required ngModel>
                  <option value="" selected disabled>Select Lecture Type</option>
                  <option> Theory  </option>
                  <option> Practical  </option>
                  
                 
                </select>
                </div>
                <div >
                  <label class="control-label " for="roomNo"><strong>Room</strong></label>
                </div>
            
             
              <div >
                <select class="dropdown-primary form-control" name="roomNo" required ngModel>
                  <option value="" selected disabled>Select Room No.</option>
                  <option> I  </option>
                  <option> II  </option>
                  <option> III  </option>
                  <option> IV   </option>
                 
                </select>
                </div>
            </form>
    
    
          </div>
    
    
    
    
        </div>

      </div> -->

  </div>



  <!-- <div class="modal fade" id="timetableAddModal" tabindex="-1" role="dialog" aria-labelledby="timetableAddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timetableAddModalLabel">Add Time Table</h5>
                <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form  #g="ngForm">
                    <div ngModelGroup="dayData" id = "daytimetable">                                                                                                                                                     
                      <div class="form-row">
                          <div class="col-6">
                             <select class="dropdown-primary form-control" name="days" required ngModel>
                              <option value="" selected disabled>Select Day</option>
                              <option> Monday    </option>
                              <option> Tuesday    </option>
                              <option> Wednesday    </option>
                              <option> Thursday    </option>
                              <option> Friday    </option>
                            
                            </select>
                          </div>

                          <div class="col-4">
                            <button type="submit" (click)= "onAddDay();add()"  [disabled]="!g.valid"   class="btn btn-default btnWidth">Add</button>
                          </div>
                      </div>
                    </div>
                          </form>
                         <div  *ngIf = "showDay" >
                           <div  *ngFor="let container of containers">
                         <form #h="ngForm">
                            <div ngModelGroup="addtimetabledata" id = "addtimetable">    
                              <br>
                              <div class = "form-row">  
                                <div class="col-4">
                                  <select class="dropdown-primary form-control" name="subjectCode" required ngModel>
                                    <option value="" selected disabled>subjectCode</option>
                                    <option >C023559</option>
                                    <option >C023559</option>
                                    <option >C034563</option> 
                                  </select>
                                </div>
                                <div class="col-4">
                                  <select class="dropdown-primary form-control" name="lectureType" required ngModel>
                                    <option value="" selected disabled>lectureType</option>
                                    <option >Theory lecture</option>
                                    <option >2 Theory lecture</option>
                                    <option >lab</option> 
                                  </select>
                                 
                                </div>
                                <div class="col-4">
                                  <select class="dropdown-primary form-control" name="roomNo" required ngModel>
                                    <option value="" selected disabled>Room No.</option>
                                    <option >LT-205</option>
                                    <option >LT-203</option>
                                    <option >AVLC</option> 
                                  </select>
                                </div>

                              </div>
                              <div class = "form-row">                                       
                                <div class="col-4">
                                  <label for="lectureTime">Lecture Time</label>
                               <input type="time"  required id="lectureStartTime" class="form-control" name="lectureTime" > to 
                               <input type="time"  required id="lectureEndTime" class="form-control" name="lectureEndTime" > 
                              </div> 
                              </div>
                              <br>
                              <div class = "form-row">
                              <div class="col-4">
                                <button type="submit"  class="btn btn-success btnWidth" [disabled]="!h.valid">Submit</button>
                                
                            </div>
                            <div class = "col-4">

                            </div>
                              <div class="col-2">
                                <button type="submit" class="btn btn-default btnWidth"  (click)="add()" [disabled]="!h.valid"> <i class="fa fa-plus"></i></button>
                              </div> 
                              <div class="col-2">
                                <button type="submit"  class="btn btn-danger btnWidth" (click)="remove()">  <i class="fa fa-minus"></i></button>
                            </div>

                              </div>
                              


                              </div>

                           </form>


                           </div>
                         </div>
                        
                        
                        </div>

           </div>
        </div>
    </div>  

    <div class="modal fade" id="timetableEditModal" tabindex="-1" role="dialog" aria-labelledby="timetableEditModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="timetableEditModalLabel">Update Time Table</h5>
                  <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  
                
                         
                          
                          
                          </div>
  
             </div>
          </div>
      </div>    -->
       <!-- <div class="row">
     
        <div class="col-6">
          <h5 >Semester Time Table</h5>
        </div>
        <div class = "col-3"></div>
        <div class="col-1">
          <a class="btn btn-reset " id = "addtimetable-tab" role="tab" data-toggle="pill" href = "addtimetable" aria-controls="addtimetable" aria-selected="true"><i class="fa fa-plus fa-fw fa-lg" aria-hidden="true"></i></a>
        </div>
        <div class="col-1">
          <a class="btn btn-reset " id = "showtimetable-tab" role="tab" data-toggle="pill" href = "showtimetable" aria-controls="showtimetable"  aria-selected="true"><i class="fa fa-eye fa-fw fa-lg" aria-hidden="true"></i></a>
        </div>
        <div class="col-1">
            <button class="btn btn-reset " data-toggle="modal" data-target="#changeSettingsModal"  ><i class="fa fa-gear fa-fw fa-lg" aria-hidden="true"></i></button>
        </div>
       
  
    
  
      </div> -->
       <div class="modal fade" id="changeSettingsModal" tabindex="-1" role="dialog" aria-labelledby="changeSettiingsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="changeSettiingsModalLabel">Update Settings</h5>
              <button type="button" (click)="ngOnInit()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body"> 
               <!-- <div *ngIf="settingsChanged" class="alert alert-success" role="alert">
                  Library Instruction Updated Successfully..!!
              </div>  -->
                <div>
                <form #s = "ngForm" >
      
                  <div id="update-settings" ngModelGroup="timetableSettings">
                      <div class="form-row">
                          <div class="col-4">
                              <label for="lectureLength">Lecture Length</label>
                              <select class="dropdown-primary form-control" required name="lectureLength" [ngModel]="semsettings?.lectureLength">
                                <option value="" selected disabled>In Minutes</option>
                                <option> 50  </option>
                                <option> 60  </option>
                                
                               
                              </select>
                          </div> 
                      
                          <div class="col-4">
                              <label for="lunchTime">Lunch Time</label>
                           <input type="time"  required id="lunchStartTime" class="form-control" name="lunchTime" [ngModel]="semsettings?.lunchStartTime"> to 
                           <input type="time"  required id="lunchEndTime" class="form-control" name="lunchEndTime" [ngModel]="semsettings?.lunchEndTime"> 
                          </div> 
                          <div class="col-1">
                              <input type="hidden" class="form-control" id="id" name="id" [ngModel]="semsettings?.id" >
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                          <div class="col-3">
      
                          </div>
                          <div class="col-3">
                              <button type="submit" (click)="ngOnInit()"  class="btn btn-danger btnWidth" data-dismiss="modal">Cancel</button>
                          </div>
                            <div class="col-3">
                                <button type="submit"  class="btn btn-primary btnWidth" (click) = "saveSetting();ngOnInit()"  [disabled]="!s.valid">Change Settings</button>
                            </div>  
                            <div class="col-3">
                              </div>
                        </div>
                  </div>
                  <br/>
                </form>
              </div>
            </div>
            
          </div>
        </div>
      </div>  
