
  <div class = "row">
    <div class = "col-9">

    <h3 class="text-primary" >Semester Time Table</h3>
    </div>
    <div class = "col-3">
    </div>

</div>

  <form #f="ngForm">
    <div class = "row">
  <div class = "col-4"> 
    <select class="dropdown-primary form-control" required name="facultyName" required ngModel>
    <option value="" selected disabled>Faculty Name</option>
    <option value=" " > nandini </option>
  </select>
  </div>
  <div class = "col-3">
    <button type="submit" [disabled]="!f.valid" class="btn btn-success btnWidth" >Add Time Table</button>
  </div>
    </div>
  </form>



  <div class="modal fade" id="timetableAddModal" tabindex="-1" role="dialog" aria-labelledby="timetableAddModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="timetableAddModalLabel">Add Time Table</h5>
                <button type="button"  class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
             
                  <form>
                    <div ngModelGroup="addTimetableData" id = "add-timetable                                                                                                                                                        -records">
                      <div class="form-row">
                          <div class="col">
                            <select class="dropdown-primary form-control" name="days" required ngModel>
                              <option value="" selected disabled>Select Days</option>
                              <option> Monday    </option>
                              <option> Tuesday    </option>
                              <option> Wednesday    </option>
                              <option> Thursday    </option>
                              <option> Friday    </option>
                            
                            </select>
                          </div>
                          <div class="col">
                            <label>Year<span class="mandatory">*</span></label>
                            <input type="number"  min="1" required class="form-control" name="year" ngModel>
                          </div>
                      </div>
                      <br/>
                      <div class="form-row">
                          <div class="col-4">
                            <label>Submitted By<span class="mandatory">*</span></label>
                            <input type="textarea" required class="form-control" name="submittedBy" ngModel>
                          </div>
                          <div class="col-4">
                            <label>Guided By<span class="mandatory">*</span></label>
                            <input type="textarea" required class="form-control" name="guidedBy" ngModel>
                          </div>
                          <div class="col-4">
                            <select class="dropdown-primary form-control" name="course" required ngModel>
                              <option value="" selected disabled>course</option>
                              <option *ngFor="let course of course" [value]="course">
                                {{course}}
                              </option>
                            </select>
                          </div>
                        </div><br/>
                        <div class="form-row">
                            <div class="col-4">
                              <label>cd status</label>
                              <input type="text" class="form-control" name="cdStatus" ngModel>
                            </div>
                           
                            <div class="col-8">
                              <label>Remarks</label>
                              <input type="text" class="form-control" name="remarks" ngModel>
                            </div>
                          </div><br/>
                         <div class="form-row">
                           <div class="col-3">

                           </div>
                           <div class="col-3">
                            <button type="submit" (click)="ngOnInit()" class="btn btn-danger btnWidth"
                            data-dismiss="modal">Cancel</button>
                           </div>
                           <div class="col-3">
                            <button type="submit" class="btn btn-success btnWidth" [disabled] = '!f.valid'>Add</button>
                           </div>
                           <div class="col-3">

                           </div>
                         </div>
                      </div>
                    </form>
              </div>
          </div>
      </div>
  </div>


