<div class="container">
  

<div class="tab-pane fade show active " id="sectionB" role="tabpane1" aria-labelledby="sectionB-tab">
  <div class="row">
    <div class="col-lg-3 col-sm-6" *ngFor = 'let f of sData'  >

      <div class="card hovercard">
        <div class="cardheader">
         

        </div>
        <div class="avatar">
          <img alt="" src="../../../assets/images/img_avatar3.png">
        </div>
        <div class="info">
          <div class="title">
            <a target="_blank" href="https://scripteden.com/">{{f.name}}</a>
          </div>

          <div class="desc"> {{f.currentDesignation}}</div>
          <div class="desc"><i class="fa fa-mobile"></i> {{f.mobileNo}}</div>
          <div class="desc"><i class="fa fa-mobile"></i> {{f.alternateMobileNo}}</div>
          <div class="desc"><i class="fa fa-envelope"></i>{{f.email}}</div>
        </div>
      </div>
    </div>
  </div>
</div>  
</div>