<div class="kyc-section rewards-section reports-sectn">
    <div class="row">
      <div class="col-lg-9">
        <div >

          <div class="row nav nav-tabs" >

              <a href="#magazine" data-toggle="tab" class="col-lg-6" aria-controls="magazine" aria-selected="true" data-whatever="@mdo" style="text-decoration: none;"><h4>Department Magazine</h4></a>
              <a href="#contribute" data-toggle="tab" class=" col-lg-6 " aria-controls="contribute" aria-selected="false" data-whatever="@mdo" style="text-align: right"><i class="fa fa-pencil-square-o fa-fw"
                aria-hidden="true" ></i>Contribute Article</a>

          </div>

          <br>
          <div class="tab-content">
          <div class="row tab-pane active" id="magazine" role="tabpanel">
            <div class="col-lg-12">
              <div class="text-center" style="color:#f46404;">
                <h5>Abhikalitra 2018 Edition</h5>
              </div>
              <object data="../../../assets/pdf/Magazine.pdf" type="application/pdf" width="100%" height="800px">
                <p>It appears you don't have a PDF plugin for this browser.
                 No biggie... you can <a href="resume.pdf">click here to
                download the PDF file.</a></p>
                 </object>
                 <br>
              <div style="margin-top: 20px;"><a class="float-right more" href=""><i class="fa fa-download fa-fw" aria-hidden="true"></i>Download</a></div>
            </div>

            </div>

            <div class="row tab-pane" id="contribute" role="tabpanel">
            <div class="modal-body">
              <h4>Article Submission Form</h4>
              <p>Please fill all fields carefully.</p>
              <form>
                <div class="form-group field">
                  <label for="recipient-name" class="col-form-label">Name</label>
                  <input class="form-control" type="text" placeholder="Full name">
                </div>
                <div class="form-group field">
                  <label for="user-id" class="col-form-label">email Id</label>
                  <input class="form-control" type="text" placeholder="email id">
                </div>
                <div class="form-group field">
                  <label for="Designation" class="col-form-label">Title</label>
                  <input class="form-control" type="text" placeholder="title of the article">
                </div>
                <div class="form-group field">
                  <label for="article" class="col-form-label">Article Summary (not more that 150 words)</label>
                  <textarea class="form-control" id="message-text" rows="5" placeholder="short summary of the article"></textarea>
                </div>
                <div class="form-group field">
                  <label for="article" class="col-form-label">Upload image (if any)</label><br/>
                  <input type="file">
                </div>
                <div class="form-group field">
                  <button type="submit" class="btn btn-success button-Reset button-width" style="margin-right:25%; width: 120px; margin-top: 10px;">Submit</button>
              </div>
              </form>

            </div>
          </div>


            </div>

            <hr>
            <br>
            <h4>Previous Editions</h4>
            <hr/>
            <div class="row">
                <div class="col-lg-3 kyc-colm user-management">
                  <div class="kyc-section rewards-section reports-sectn">
                    <p>Mag 2017</p>
                  </div>
                  <a href="" class="more float-right"><i class="fa fa-download fa-fw" aria-hidden="true"></i>Download</a>
                </div>
                <div class="col-lg-3 kyc-colm user-management">
                  <div class="kyc-section rewards-section reports-sectn">
                    <p>Mag 2016</p>
                  </div>
                  <a href="" class="more float-right"><i class="fa fa-download fa-fw" aria-hidden="true"></i>Download</a>
                </div>
                <div class="col-lg-3 kyc-colm user-management">
                  <div class="kyc-section rewards-section reports-sectn">
                    <p>Mag 2015</p>

                  </div>
                  <a href="" class="more float-right"><i class="fa fa-download fa-fw" aria-hidden="true"></i>Download</a>
                </div>
                <div class="col-lg-3 kyc-colm user-management">
                  <div class="kyc-section rewards-section reports-sectn">
                    <p>Mag 2014</p>
                  </div>
                  <a href="" class="more float-right"><i class="fa fa-download fa-fw" aria-hidden="true"></i>Download</a>
                </div>
              </div>


        </div>
      </div>

      <div class="col-lg-3 kyc-colm user-management">
        <div class="kyc-section rewards-section reports-sectn">

          <div class="row">
            <div class="col-lg-12 text-center" style="padding:1%; padding-top:2%;padding-bottom:2%;">
              <h4>Team</h4>
            </div>
          </div>
          <hr>
          <div class="profile-info">
            <div class="profile-icon inline-block">
              <div class="row">
              <div class="col-lg-6">
              <img src="../../../assets/images/img_avatar2.png" class="float-right"  alt="" />
              </div>
              <div class="col-lg-6">
              <span>Faculty name<br>123456789<br> Professor</span>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                <img src="../../../assets/images/img_avatar3.png" class="float-right"  alt="" />
                </div>
                <div class="col-lg-6">
                <span>Student name<br>123456789<br> Student</span>
                </div>
              </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                <img src="../../../assets/images/img_avatar2.png" class="float-right"  alt="" />
                </div>
                <div class="col-lg-6">
                <span>Faculty name<br>123456789<br> Professor</span>
                </div>
              </div>
            <hr>
          </div>
          <div>
            <a href="#" class="float-right more">more...</a>
          </div>
          <div>
            <br>
            <h6>Contact Us</h6>
            <div class="contact-icon">
              <p><i class="fa fa-phone fa-fw" aria-hidden="true"></i> 0731-256432</p>
              <p><i class="fa fa-mobile fa-fw" aria-hidden="true"></i> 9876535671</p>
              <p><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> abc@gmail.com</p>
            </div>

          </div>

        </div>
      </div>

    </div>
    <!--Main row ends-->
  </div>
</div>
