<div class="bg"></div>
<div class="login-pg">
  <div class="login-wrap reset-wrap">

    <form class="login-html" [formGroup]="resetForm" (ngSubmit)="reset()">
      <div class="company-logo">
        <img src="assets/images/logo.png" alt="" />
        <div style="color:#1d98c5; padding-top:15px;">
          <h4>Department of Computer Engineering</h4>
        </div>
      </div>

      <div class="panel-headng">
        <h4>Reset Password</h4>
      </div>

      <div class="login-form">
        <div class="sign-in-htm">

            <div class="group">
                <label for="pass" class="label">Password
                  <span class="mandatory">*</span>
                </label>
                 <input id="pass" type="password" [(ngModel)]="newPasswd" name="passwd" formControlName="password"  class="form-control" data-type="password" [ngClass]="{ 'is-invalid': submitted && formCtl.password.errors }" />
                 <div *ngIf=" submitted && formCtl.password.errors" class="invalid-feedback">
                    <div *ngIf="formCtl.password.errors.required">Password is required</div>
                    <div *ngIf="formCtl.password.errors.pattern">Password must have at least one uppercase letter, one lowercase letter and one number</div>
                    <div *ngIf="formCtl.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
              </div>
    
            <div class="group">
              <label for="cpass" class="label">Confirm Password
                <span class="mandatory">*</span>
              </label>
              <input id="cpass" type="password" formControlName="confirm_password" class="form-control" data-type="password" [ngClass]="{ 'is-invalid': submitted && formCtl.confirm_password.errors }" />
              <div *ngIf=" submitted && formCtl.confirm_password.errors" class="invalid-feedback">
                  <div *ngIf="formCtl.confirm_password.errors.required">Password is required</div>
                  <div *ngIf="formCtl.confirm_password.errors.MatchPassword">Password does not match</div>
              </div>
            </div>
          <div class="group">
            <input type="submit" class="button login-button" value="Reset Password">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
