
      .right-box{
      padding: 1px;
      margin: 1%;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      -webkit-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
      box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
      } 
      .icon{
        color:#1488CC;
        font-size: 30px;
      } 
     a{
      text-decoration: none;
     }
     .left-box {
      padding: 5%;
      margin: 1%;
      margin-top: 7%;
      background-color: #fff;
      border: 1px solid #bfbfbf;
      -webkit-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
      -moz-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
      box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    }
    .navbar-left {
      margin-left: auto;
      margin-right: auto;
    }
 
.navbar-padding > li{
  padding-left:35px;
  padding-right:35px;

    }
  .al{
    margin-left: auto;
      margin-right: auto;
      height:70px;
  }
  .page-headng{
    color:#f46404;
  }