<div class="bg"></div>
<div class="login-pg">
  <div class="password-wrap">

    <form form [formGroup]="activationForm" class="login2-html" (ngSubmit)="onSubmit()">
      <div class="company-logo">
        <img src="assets/images/logo.png" alt="" />
        <div style="color:#1d98c5; padding-top:15px;">
          <h4>Department of Computer Engineering</h4>
        </div>
      </div>

      <div class="login-form login2-form">
        <div class="forgot-pass">
          <h4>Activate Account</h4>

          <div class="group">
            <label for="email" class="label">Email Address
              <span class="mandatory">*</span>
            </label>
            <input id="email" type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formCtl.email.errors }" [(ngModel)]="student.email"/>
            <div *ngIf="submitted && formCtl.email.errors" class="invalid-feedback">
              <div *ngIf="formCtl.email.errors.required">Email is required</div>
              <div *ngIf="formCtl.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>


          <div class="group">
            <input type="submit" class="button" value="Send">
          </div>
          <div class="foot-lnk">
            <a href=".">Continue with login!</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
