<div class="col-lg-12 navbar">
  <h4 style="color:#fff;">Students</h4>
  <div class="nav-item profile dropdown float-right">
    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="false"
      aria-expanded="true" style="text-decoration:none;">
      <i class="fa fa-ellipsis-v fa-lg" style="color:#fff;" aria-hidden="true"></i>
    </a>
    <div class="dropdown-menu rounded-0 " aria-labelledby="navbarDropdownMenuLink2">
      <a class="dropdown-item collapsed" href="#" role="button" data-toggle="collapse" data-target="#cleanliness"
        aria-expanded="false" aria-controls="cleanliness" style="text-decoration:none;"><i class="fa fa-users fa-fw"
          aria-hidden="true"></i>
        Currently Enrolled Student</a>
      <a class="dropdown-item collapsed" href="#" role="button" data-toggle="collapse" data-target="#equipments"
        aria-expanded="false" aria-controls="equipments" style="text-decoration:none;"><i class="fa fa-graduation-cap fa-fw"
          aria-hidden="true">
        Alumni</i></a>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-lg-12 kyc-colm user-management">
    <div class="kyc-section rewards-section reports-sectn">
      <div class="row">
        <div class="col-lg-2 profile-info">
          <app-navigation></app-navigation>
        
        <br><br>
        <div class="text-center">
          <a href="#" style="text-align: center;" class="active">Download list as pdf</a><br>
          <a href="#" style="text-align: center;" class="active">Download list as txt file</a>
        </div>
      </div>

        <div class="col-lg-10 kyc-colm user-management">

          <div class="kyc-section rewards-section reports-sectn">
            <div class="row">
              <div class="col-lg-6">
                <h5>M.E final year Project details 2018-2019</h5>
              </div>
              <div class="col-lg-2" style="padding-left:3%;">
                <div>
                  <select id="leavetype" class="form-control">
                    <option>Batch</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4" style="float:right;padding-left: 5%;">
                <ul class="searchbox">
                  <li class="">
                    <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">
                    <i class="fa fa-search" style="position: absolute;top:11px;" aria-hidden="true"></i>
                  </li>
                </ul>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <table class="table table-striped" style="overflow:hidden;">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Project Title</th>
                      <th scope="col">Thesis Id</th>
                      <th scope="col">Members Name</th>
                      <th scope="co1">Enrollment No.</th>
                      <th scope="co1">Faculty Id</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Deparmental Information System</td>
                      <td>Th-99</td>
                      <td>Vidhan Jhawar</td>
                      <td>0801CS161103</td>
                      <td>Dr. Urjita Thakur</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Vishal Singhal</td>
                      <td>0801CS161102</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Manas Jain</td>
                      <td>0801CS161010</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Vinti Jain</td>
                      <td>0801CS161101</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Dev Singh</td>
                      <td>0801CS161089</td>
                      <td></td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Stock Predication System</td>
                      <td>Th-111</td>
                      <td>Vidhan Jhawar</td>
                      <td>0801CS161103</td>
                      <td>Prof. Surendra Gupta</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Vishal Singhal</td>
                      <td>0801CS161102</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Manas Jain</td>
                      <td>0801CS161010</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Vinti Jain</td>
                      <td>0801CS161101</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>Dev Singh</td>
                      <td>0801CS161089</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>