.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    width: max-content;
}

table {
    width: 35%;
    background: transparent;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
