<div class="container">
    <div class="row">
        <!--Start Left Panel-->
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 profile-info">
            <app-sidenavigation></app-sidenavigation>
        </div>
        <!--End Left Panel-->
        <!--Start Right Panel-->
        <div class="col-lg-9 col-md-9 col-sm-6 col-xs-12 kyc-colm user-management">
            <div class="kyc-section rewards-section reports-sectn">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!--End Right Panel-->
    </div>
</div>
<br>
<!--Middle Section finish-->
