<div mat-dialog-content>
    <div class="close">
        <i class="fa fa-times fa-fw" aria-hidden="true" (click)="onNoClick()"></i>
      </div>
  <form class="form">
  <mat-form-field class="title">
    <mat-label >Add title</mat-label>
    <input matInput [formControl]="titleFormController">
    <mat-error *ngIf="titleFormController.hasError('required')">
      Title is required
    </mat-error>
    </mat-form-field>
        <div class="timeSelector">
            <span class="icon">
                <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>
              </span>

          <mat-form-field class="date">
            <input matInput [matDatepicker]="picker1" (focus)="picker1.open()" (click)="picker1.open()" [(ngModel)]="startDate" [ngModelOptions]="{standalone: true}">
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field *ngIf="addTime" class="time">
              <mat-select [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}">
                <mat-option *ngFor="let st of startTimeList" [value]="st">
                  {{st}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <span class="dash">
              -
            </span>

          <mat-form-field *ngIf="addTime" class="time" (click)="getEndTimeList()" [ngClass]="{dateValidate : !validateTime(endTime)}">
                  <mat-select [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let et of endTimeList" [value]="et">
                      {{et}}
                    </mat-option>
                  </mat-select>
          </mat-form-field>

          <mat-form-field class = "date" [ngClass]="{dateValidate : !validateDate(endDate)}">
            <input matInput [matDatepicker]="picker2" (focus)="picker2.open()" (click)="picker2.open()" [(ngModel)]="endDate" [ngModelOptions]="{standalone: true}">
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <button mat-button class="timebutton" (click)="enableTimeFields()" *ngIf="!addTime">Add time</button>
          </div>

          <div>
            <span class="icon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </span>

          <mat-form-field class="participants">
            <input type="text"
                   placeholder="Add participants"
                   aria-label="Number"
                   matInput
                   [formControl]="participantListController"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onEnter()">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          </div>

          <div class="listblock" *ngIf="participantList.size !==0 ">
          <div *ngFor="let participant of participantList; index as i" class="participantlist">
              <span class="participantName">{{participant}}</span>
              <span class="remove">
              <i class="fa fa-times" aria-hidden="true" (click)="remove(participant)"></i>
              </span>
              <mat-divider></mat-divider>
          </div>
        </div>

          <div>
              <span class="icon">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>

          <mat-form-field class="location">
            <mat-label>Location</mat-label>
            <input matInput [formControl]="locationFormController">
            <mat-error *ngIf="locationFormController.hasError('required')">
              Location is required
            </mat-error>
          </mat-form-field>
          </div>

          <div>
              <span class="icon">
                  <i class="fa fa-align-justify" aria-hidden="true"></i>
                </span>
          <mat-form-field class="description">
            <mat-label>Add Description</mat-label>
            <textarea matInput [(ngModel)]="description" 
            [ngModelOptions]="{standalone: true}" 
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"></textarea>
          </mat-form-field>
          <div class="attachedFile" *ngIf="selectedFile!=null">
            <mat-card class="custom">
              <span class="file-icon">
                <i class="fa fa-file fa-fw" aria-hidden="true"></i>
              </span>
              <span class="file-name">
                {{selectedFile?.name}}
              </span>
              <span class="cross">
                <i class="fa fa-times fa-fw" aria-hidden="true" (click)="deleteFile()"></i>
              </span>
            </mat-card>
          </div>
        </div>
</form>
</div>
<div mat-dialog-actions>
  <span>
    <button mat-stroked-button color="primary" (click)="fileInput.click()" class="attachment"><i class="fa fa-paperclip" aria-hidden="true"></i> Attachment</button>
    <input type="file" multiple #fileInput (change)="selectFile($event)" style="display:none;"> 
  </span>
  <button class="save" mat-button cdkFocusInitial (click)="onSubmit()" [disabled]="disabled()">Save</button>
</div>  