<full-calendar id="calendar"
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next',
        center: 'title',
        right: ' today dayGridMonth,timeGridDay'
      }"
      [buttonText]= "{
        dayGridMonth: 'M',
        timeGridDay: 'D'
      }"
      navLinks= true,
      editable= true,
      eventLimit= true,
      themeSystem = 'bootstrap'
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      [aspectRatio] = "1"
    ></full-calendar>

  <!---  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #calendarModal>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
  
  <div  *ngIf="calendarModal">
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <div class="modal-body">
            Modal body..
          </div>
          
        </div>
      </div>
    </div>
  </div>  -->
