<full-calendar #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next',
        center: 'title',
        right: ' today dayGridMonth,timeGridDay'
      }"
      [buttonText]= "{
        dayGridMonth: 'M',
        timeGridDay: 'D'
      }"
      navLinks= true,
      editable= true,
      eventLimit= true,
      themeSystem = 'bootstrap'
      [plugins]="calendarPlugins"
      [weekends]="calendarWeekends"
      [events]="calendarEvents"
      (dateClick)="openDialog($event)"
      (eventClick)="handleEventClick($event)"
      [aspectRatio] = "1"
    ></full-calendar>