.date {
    margin-right: 12px;
  }

.description {
    width: 100%;
}

.title {
    width: 100%;
}

.form {
    width: 100%;
}

.participants {
    width: 100%;
}

.location {
    width: 100%;
}

.mat-dialog-actions {
    justify-content: flex-end;
}

.close {
    justify-content: flex-end;
}