.close {
    justify-content: flex-end;
}

.iconbutton {
    margin-left: 15px;
    font-size: 20px;
}

.icon-title {
    margin-top: 10px;
    color: cornflowerblue;
    font-size: 20px;
}

.title {
    margin-left: 30px;
}

.date {
    margin-left: 30px;
}

.description {
    margin-top: 5%;
    margin-left: 30px;
}

.head {
    line-height: 0;    
}