
<mat-dialog-content>
    <div>
        <span class="iconbutton close">
            <i class="fa fa-times" aria-hidden="true" (click)="onNoClick()"></i>
       </span>
        <span class="iconbutton close">
            <i class="fa fa-trash" aria-hidden="true" (click)="onDelete()" *ngIf= "startEditable===true"></i>
        </span>
        <span class="iconbutton close">
            <i class="fa fa-pencil" aria-hidden="true" (click)="onUpdate()" *ngIf= "startEditable===true"></i>
        </span>
    </div>
    <h2 mat-dialog-title>Title: {{title}}</h2>
    Description: {{desc}}<hr>Start Date: {{start | date:"medium"}}
</mat-dialog-content>