<div class = "row">
  <div class = "col-6">

  <h3 class="text-primary" >Mid Term Time Table</h3>
  </div>
  <div class = "col-6">
    <div class="input-group mb-1">
      <ul class="nav nav-pills nav-fill col-lg-12" id="pills-tab" role="tablist">
       
        <li class="nav-item">
          <a class="nav-link active" id="pills-add-tab" data-toggle="pill" href="#pills-add" role="tab"  aria-controls="pills-add"
            aria-selected="true">Time Table</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-show-tab" data-toggle="pill" href="#pills-show" role="tab" aria-controls="pills-show"
            aria-selected="false">Seating Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-show-tab" data-toggle="pill" href="#pills-show" role="tab" aria-controls="pills-show"
            aria-selected="false"> Allocate Duty </a>
        </li>
        
        
      </ul>
    </div>
  </div>

</div>
<br>
<div class = "row">


  <div class = "col-3">
    <label class="control-label " for="course"><strong>Course</strong></label>
  </div>


<div class = "col-3">
  <select class="dropdown-primary form-control" name="course" required ngModel>
    <option value="" selected disabled>Select Course</option>
    <option> B.E  </option>
    <option> M.E </option>
  
  </select>
</div>

<div class = "col-3">
  <label class="control-label " for="sem"><strong>Semester</strong></label>
</div>


<div class = "col-3">
<select class="dropdown-primary form-control" name="sem" required ngModel>
  <option value="" selected disabled>Select Semester</option>
  <option> 1 </option>
  <option> 2 </option>

</select>
</div>

</div>