<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
          <h5>Add a Complaint
            <div class="nav-item profile dropdown float-right" >
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                aria-haspopup="false" aria-expanded="false" style="text-decoration:none;">
                </a>
              <div class="dropdown-menu rounded-0 dropdown-pull-right" aria-labelledby="navbarDropdownMenuLink2">
                <a class="dropdown-item collapsed" href="#" role="button" data-toggle="collapse"
                  data-target="#electricalAppliances" aria-expanded="false" aria-controls="electricalAppliances"
                  style="text-decoration:none;">
                  Electrical Appliances and Maintenance
                </a>
                <a class="dropdown-item collapsed" href="#" role="button" data-toggle="collapse"
                  data-target="#telephoneComplaint" aria-expanded="false" aria-controls="telephoneComplaint"
                  style="text-decoration:none;">Telephone Complaint
                </a>
                <a class="dropdown-item collapsed" href="#" role="button" data-toggle="collapse"
                  data-target="#cwnMaintenance" aria-expanded="false" aria-controls="cwnMaintenance"
                  style="text-decoration:none;">CWN Maintenance
                </a>

                <a class="dropdown-item collapsed" href="#" role="button" data-toggle="collapse"
                  data-target="#electricalMRSection" aria-expanded="false" aria-controls="electricalMRSection"
                  style="text-decoration:none;">Electrical M & R Section
                </a>

                <a class="dropdown-item collapsed" href="#" role="button" data-toggle="collapse"
                  data-target="#centralMaintenance" aria-expanded="false" aria-controls="centralMaintenance"
                  style="text-decoration:none;">Central Maintenance and Workshop
                </a>

                <a class="dropdown-item collapsed" href="#" role="button" data-toggle="collapse"
                  data-target="#otherComplaints" aria-expanded="false" aria-controls="otherComplaints"
                  style="text-decoration:none;">Other Complaints
                </a>
              </div>
              </div>
            </h5>  
          
          </h5> 
        </div>

        <div id="electricalAppliances" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div>
              <div class="alert alert-info clean">
                <form action="">
                  <div class="row">
                    <div class="form-group col-12">
                      
                        <div>
                          <label for="recipient-name" class="col-form-label">Complaint Id : EMA23</label>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Detail :</label>
                          <textarea class="form-control" id="message-text" placeholder="enter problem description..."></textarea>

                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Location:</label>
                          <textarea class="form-control" id="message-text" placeholder="enter location..."></textarea>
                        </div>
                      
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary ">Submit</button>
                      <button type="submit" class="btn btn-danger">cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div id="telephoneComplaint" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div>
              <div class="alert alert-info clean">
                <form action="">
                  <div class="row">
                    <div class="form-group col-12">
                        <div>
                          <label for="recipient-name" class="col-form-label">Complaint Id : TC12</label>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Extension No. :</label>
                          <input class="form-control" type="text" placeholder="enter extension no...">
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Location :</label>
                          <textarea class="form-control" id="message-text" placeholder="enter location..."></textarea>

                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Detail:</label>
                          <textarea class="form-control" id="message-text" placeholder="enter problem description..."></textarea>
                        </div>
                                                       </div>

                  </div>

                  <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary ">Submit</button>
                      <button type="submit" class="btn btn-danger">cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div id="cwnMaintenance" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div>
              <div class="alert alert-info clean">
                <form action="">
                  <div class="row">
                    <div class="col-12">
                      <form>
                        <label for="recipient-name" class="col-form-label">Complaint Id : CWN12</label>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Detail:</label>
                          <textarea class="form-control" id="message-text" placeholder="enter problem description..."></textarea>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Location :</label>
                          <textarea class="form-control" id="message-text" placeholder="enter location..."></textarea>

                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Report To:</label><br>
                          <input class="form-control" type="text" placeholder="enter name of person to report...">
                        </div>
                      </form>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary ">Submit</button>
                      <button type="submit" class="btn btn-danger">cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <div id="electricalMRSection" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div>
              <div class="alert alert-info">
                <form action="">
                  <div class="row">
                    <div class="col-12">
                      <form>
                        <label for="recipient-name" class="col-form-label">Complaint Id : EMR23</label>

                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Name of the Worker :</label>
                          <input class="form-control" type="text" id="message-text" placeholder="enter name of the worker whom this work is alloted...">

                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Name of the Supervisor :</label>
                          <input class="form-control" type="text" id="message-text" placeholder="enter name of the supervisor...">

                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Material Required :</label>
                          <textarea class="form-control" id="message-text" placeholder="enter materail requried..."></textarea>
                        </div>
                      </form>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary ">Submit</button>
                      <button type="submit" class="btn btn-danger">cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div id="centralMaintenance" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div>
              <div class="alert alert-info">
                <form action="">
                  <div class="row">
                    <div class="col-12">
                      <form>
                        <label for="recipient-name" class="col-form-label">Complaint Id : CMCW23</label>

                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Detail :</label>
                          <textarea class="form-control" id="message-text" placeholder="enter problem description..."></textarea>

                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Location:</label>
                          <textarea class="form-control" id="message-text" placeholder="enter location..."></textarea>
                        </div>
                      </form>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary ">Submit</button>
                      <button type="submit" class="btn btn-danger">cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div id="otherComplaints" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <div>
              <div class="alert alert-info">
                <form action="">
                  <div class="row">
                    <div class="col-12">
                      <form>
                        <label for="recipient-name" class="col-form-label">Complaint Id : OTA01</label>

                        <div class="form-group">
                          <label for="recipient-name" class="col-form-label">Complaint Regarding :</label>
                          <input class="form-control" type="text" id="message-text" placeholder="subject of problem...">

                        </div>
                        <div class="row">
                          <div class="form-group col-lg-4">
                            <label for="recipient-name" class="col-form-label">Date :</label>
                            <input class="form-control" type="date" id="message-text">

                          </div>
                          <div class="form-group col-lg-4">
                            <label for="recipient-name" class="col-form-label">Complaint Listener :</label>
                            <input class="form-control" type="text" id="message-text" placeholder="complaint listener...">

                          </div>
                          <div class="form-group col-lg-4">
                            <label for="recipient-name" class="col-form-label">Mobile Number :</label>
                            <input class="form-control" type="number" id="message-text" placeholder="mobile number...">

                          </div>
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Complaint Description :</label>
                          <textarea class="form-control" id="message-text" placeholder="enter details..."></textarea>
                        </div>
                      </form>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-9"></div>
                    <div class="col-3">
                      <button type="submit" class="btn btn-primary ">Submit</button>
                      <button type="submit" class="btn btn-danger">cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>