<div class="bg"></div>
<div class="login-pg">
<div class="login-wrap">

  <form class="login-html">
    <div class="company-logo">
      <img src="assets/images/logo.png" alt="" />
      <div style="color:#1d98c5; padding-top:15px;">
        <h4>Department of Computer Engineering</h4>
      </div>
    </div>

    <div class="panel-headng">
      <h4>Log In</h4>
    </div>

    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group chkbox">
          <input id="check" type="checkbox" class="check" checked>
          <label for="check">
            <span class="icon"></span> Remember me</label>
        </div>
        <div class="group">
          <input type="button" class="button login-button" value="Sign In" routerLink='hod'>
        </div>
        <div class="foot-lnk">
          <a href="/forgot-password">Forgot Password?</a> |
          <a href="/signup">Sign Up</a>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
