
<div class="container">
  <div class="row">
    <div class="col-9">
      <h4>Schemes</h4>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#AddScheme">Add New Scheme</button>
    </div>
  </div>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.scheme_id}} </td>
    </ng-container>
    <!-- Weight Column -->
  <ng-container matColumnDef="view_link">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> <a routerLink={{element.scheme_id}}>View</a> </td>
  </ng-container>
    <!-- Download Column -->
    <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> <a href={{element.file_link}}>Download</a> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  

<div class="modal fade bd-example-modal-lg" id="AddScheme" data-backdrop="false" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New Scheme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="scheme_id" name="scheme_id" placeholder="Scheme Name/Id" >
          </div>
          <div class="form-group">
            <h5>Add Course</h5>
            <div style="width:30%">
              <ng-multiselect-dropdown
                  [settings]="coursesSettings"
                  [data]="courses"
                  [placeholder]="'Select Course'"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)">
              </ng-multiselect-dropdown>
              </div>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div> 
