<br/>
<br/>
<h6>Courses</h6>
<br/>
<mat-form-field appearance="fill">
  <mat-label>Semester</mat-label>
  <mat-select>
    <mat-option value="1">First Semester</mat-option>
    <mat-option value="2">Second Semester</mat-option>
    <mat-option value="3">Third Semester</mat-option>
    <mat-option value="4">Fourth Semester</mat-option>
    <mat-option value="5">Fifth Semester</mat-option>
    <mat-option value="6">Sixth Semester</mat-option>
    <mat-option value="7">Seventh Semester</mat-option>
    <mat-option value="8">Eighth Semester</mat-option>
  </mat-select>
</mat-form-field>