  .top-buffer {
  margin-bottom: 10px;
} 
.complaint-meter {
  padding-top: 7px;
 padding-bottom: 7px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: linear-gradient(to top, #2B32B2, #1488CC);
  color:white;
  margin-bottom:10px;
}
.modal-header{
  background-color:rgb(4, 58, 87);
  color:white;
  margin:0%;
  
}
.request-resources{
  text-decoration: none;
 }
