<div class="container">
    <div class="row">

	<!--Start Left Panel-->
      <div class="col-lg-3 profile-info">
        <app-sidenavigation></app-sidenavigation>
      </div>
	  <!--End Left Panel-->


      <!--Start Main Panel-->
    <div class="col-lg-9 kyc-colm user-management">
        <div class="kyc-section rewards-section reports-sectn">

        <ul class="nav nav-tabs">
          <li class="nav-item"  *ngFor="let sub of subjects">
            <a class="nav-link active" href="#" style="text-decoration:none">{{sub.subCode}}</a>
          </li>
        </ul>
		<!--End Right Panel-->
		<div id="accordion">

		<!--Notification Panel starts-->
		<div class="notifiactiion heading">
		<br/>
		<br/>
			<h2>CO24007: Theory Of Computation</h2>
			<hr/>
		</div>
		<div class="card">
		<div class="card-header" id="headingOne">
		<h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-decoration:none">
          <h5>Pending Assignments</h5>
        </button>
		</h5>
		</div>

		<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
		<div class="card-body">

		<div>
			<div class="alert alert-success row">
				<h4 class="col-8">Assignment # 2 : Conversions of DFAs and NFAs</h4>		<h6 class="col-4">By: Mrs Rithambara Patidar</h6>
				<p class="col-8"> Date of Submission  :  29/8/2018</p>
				<div class="col-4">
				<img class="download float-left" src="images/download.png" alt=""/>
				<a href="#"> download Report</a>
				</div>
			</div>
			<div class="alert alert-success row">
				<h4 class="col-8">Assignment # 3 : Turing Machine</h4>		<h6 class="col-4">By: Mrs Rithambara Patidar</h6>
				<p class="col-8"> Date of Submission  :  01/9/2018</p>
				<div class="col-4">
				<img class="download float-left" src="images/download.png" alt=""/>
				<a href="#"> download Report</a>
				</div>
			</div>
		</div>
		</div>
		</div>
		<div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="text-decoration:none">
          <h5>Completed Assignments</h5>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
			<div class="alert alert-success row">
				<h4 class="col-8">Assignment # 1 : Constructing NFAs and DFAs</h4>		<h6 class="col-4">By: Mrs Rithambara Patidar</h6>
				<p class="col-8"> Date of Submission  :  11/8/2018</p>
				<div class="col-4">
				<img class="download float-left" src="images/download.png" alt=""/>
				<a href="#"> download Report</a>
				</div>
			</div>
		</div>
		<!--Notification Panel Ends-->
        </div>
        </div>
      </div>

	  <!--End Right Panel-->

    </div>
  </div>
  <!--Middle Section finish-->
</div>
</div>
