<div class="container">
  <div class="row">

<!--Start Left Panel-->
      <div class="col-lg-9 kyc-colm user-management">
      <div class="kyc-section rewards-section reports-sectn">
      <!--Calendar comes in below div-->
        <div class="row">
          <div class="col-6">
            <h3 class="heading">Divyani Garg</h3>
          </div>
          <div class="col-6">
            <h3 class="text-right">0801CS17ME09<i class="fa fa-pencil float-right" style="font-size: 30px; margin-left: 20px;"></i></h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-3">
            <div><img class="profilepic" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
          </div>
          <div class="col-9">
            <div class=row>
            <div class="col-4">
              <p><b>ME-II Year (2017-2019)<br/>
                 Mobile No.: +91 7771882288<br/>
                 Nationality: Indian</b></p>
            </div>
            <div class="col-5">
              <p><b>DOB: 20 June 1994<br/>
                 Gender: Female<br/>
                 Email : divyanigarg09@gmail.com</b></p>
            </div>
            <div class="col-3">
                <p><b>category: General<br/>
                  Blood Group: A+</b></p>
            </div>
            <div class="col-9">
                <p>Present Address : 734-E, Sec A Sudama Nagar, Indore(M.P.), 452009<br/>
                  Permanant Address : 734-E, Sec A Sudama Nagar, Indore(M.P.), 452009<br/>
                  father: Mohan Garg, +91 7771882288<br/>
                  Mother: Chandrakanta Garg, +91 7771882288</p>
            </div>
          </div>
          </div>
        </div>

      </div>

      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Experience <a data-toggle="modal" data-target="#experience_modal" ><i class="fa fa-plus-square float-right"  style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-suitcase text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Assistant System Engineer <a data-toggle="modal" data-target="#experience_modal" > <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>Tata Consultancy Services<br/>15 June 2015 - 04 Sept 2015<br/>Gandhinagar, Gujrat</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1">
              <i class="fa fa-suitcase text-center"  style="font-size: 60px; "></i>
            </div>
            <div class="col-11">
            <h5>Assistant System Engineer <a data-toggle="modal" data-target="#experience_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
              <p>Tata Consultancy Services<br/>15 June 2015 - 04 Sept 2015<br/>Gandhinagar, Gujrat</p>
            </div>
          </div>
        </div>

          <!-- Modal -->
          <div class="modal fade" id="experience_modal" role="dialog">
          <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Experience</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
              <form>


                  <div class="form-group col-lg">
                      <label for="reason">Title*</label>
                      <input class="form-control"  id="reason">
                    </div>
                  <div class="form-group col-lg">
                        <label for="reason">Company*</label>
                        <input class="form-control" id="reason">
                  </div>

                  <br/>
                  <div class="col-lg">
                    <label for="From">From </label>
                    <input type="date" name="From">
                    <label for="To">To </label>
                    <input type="date" name="To">
                  </div>

                  <br/>
                  <label class="control-label col-lg" for="Type of leave">Location</label>
                    <div class="col-lg">
                    <select id="leavetype" class="form-control">
                      <option>Hyderabad</option>
                      <option>Mumbai</option>
                      <option>Pune</option>
                    </select>
                    </div>
                   <br/>

                </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
          </div>
          </div>
          </div>
          </div>


      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Education <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-graduation-cap text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Shri G.S. Institute of Technology and Science, Indore <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>RGPV, Bhopal<br/>Masters of Engineering, Computer Engineering<br/>2017 - 2019<br/>cgpa : 7.73</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1">
                <i class="fa fa-graduation-cap text-center" style="font-size: 60px;"></i>
              </div>
              <div class="col-11">
                <h5>Indore Institute  of Science and Technology - II, Indore <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a> </h5>
                <p>RGPV, Bhopal<br/>Bachelors of Engineering, Computer Science Engineering<br/>2011 - 2015<br/>cgpa : 8.06</p>
            </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-1">
                  <i class="fa fa-university text-center" style="font-size: 60px;"></i>
                </div>
                <div class="col-11">
                  <h5>Shri Bal Vinay Mandir, Chattribagh, Indore <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
                  <p>MP Board<br/>Higher Secondary, PCM<br/>2010 - 2011<br/>percentage: 73%</p>
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-1">
                    <i class="fa fa-university text-center" style="font-size: 60px;"></i>
                  </div>
                  <div class="col-11">
                    <h5>Shri Bal Vinay Mandir, Chattribagh, Indore <a data-toggle="modal" data-target="#education_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
                    <p>MP Board<br/>High School<br/>2008 - 2009<br/>percentage: 75%</p>
                </div>
              </div>


              <!-- Modal -->
          <div class="modal fade" id="education_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Education</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                      <label class="control-label col-lg" for="Type of leave">Degree / Certificate</label>
                      <div class="col-lg">
                      <select id="leavetype" class="form-control">
                        <option>BE</option>
                        <option>ME</option>
                        <option>B Tech</option>
                      </select>
                      </div>
                     <br/>

                      <div class="form-group col-lg">
                          <label for="reason">College / School*</label>
                          <input class="form-control"  id="reason">
                        </div>
                      <div class="form-group col-lg">
                            <label for="reason">University / Board *</label>
                            <input class="form-control" id="reason">
                      </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">Year of Joining*</label>
                        <input type="date" name="Joining">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">Year of Passing</label>
                        <input type="date" name="Passing">
                      </div>
                    </div>
                      <br/>

                      <div class='row'>
                      <div class="form-group col-lg-6">
                          <label for="reason">Percentage / CGPA *</label>
                          <input class="form-control" id="CGPA">
                      </div>

                      <br/>

                      <div class="form-group col-lg-6">
                          <label for="reason">Upload Degree / Final Marksheet *</label>
                          <i class = "fa fa-file"></i>
                      </div>
                    </div>
                      <br/>


                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>


      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Publications  <a data-toggle="modal" data-target="#publication_modal" ><i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-book text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>LEACH-ENL : Low Energy Adaptive Clustering Hierarchy with Enhanced Network Lifetime in Wireless Sensor Network <a data-toggle="modal" data-target="#publication_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>May 2015, IIJCS<br/>Guide : Mr. K. Anil Kumar	<br/>Co-Authors : Kanak Soni, Vatika Goswami<br/>http://ipasj.org/IIJCS/Volume3Issue5/IIJCS-2015-04-29-10.pdf</p>
          </div>
        </div>
      </div>

      <!-- Modal -->
          <div class="modal fade" id="publication_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Publication</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                      <div class="form-group col-lg">
                          <label for="reason">Title*</label>
                          <input class="form-control"  id="reason">
                        </div>
                      <div class="form-group col-lg">
                            <label for="reason">Conference / Journal*</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Guide*</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Conference / Journal*</label>
                            <input class="form-control" id="reason">
                      </div>

                      <br/>
                      <div class="col-lg">
                        <label for="From">Date of Publication*</label>
                        <input type="date" name="Joining">
                      </div>
                      <br/>

                      <div class="col-lg">
                        <label for="To">Link</label>
                        <input class="form-control" id="link">
                      </div>

                      <br/>

                      <div class="form-group col-lg-6">
                          <label for="reason">Co- Authors*</label>
                          <input class="form-control" id="CGPA">
                      </div>

                      <br/>


                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>


      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Internship  <a data-toggle="modal" data-target="#internship_modal" ><i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-building text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Salesforce CRM Management  :  45 Days <a data-toggle="modal" data-target="#internship_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>Quest Global Services<br/>Zanaeerwala, Indore<br/>15 June 2015 - 04 Sep 2015<br/><a href="#">View Certificate</a></p>
          </div>
        </div>
      </div>

      <!-- Modal -->
          <div class="modal fade" id="internship_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Internship</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                       <div class="form-group col-lg">
                          <label for="reason">Company Name*</label>
                          <input class="form-control"  id="reason">
                        </div>
                      <div class="form-group col-lg">
                            <label for="reason">Company Address *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <br/>

                      <label class="control-label col-lg" for="Type of leave">Location*</label>
                      <div class="row">
                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>Country</option>
                        <option>India</option>
                        <option>USA</option>
                      </select>
                      </div>

                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>State</option>
                        <option>M.P.</option>
                        <option>New Delhi</option>
                      </select>
                      </div>

                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>City</option>
                        <option>Indore</option>
                        <option>New Delhi</option>
                      </select>
                      </div>

                      </div>
                     <br/>

                      <div class="form-group col-lg">
                          <label for="reason">Area/ Subject/ Topic*</label>
                          <input class="form-control"  id="reason">
                        </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">From*</label>
                        <input type="date" name="Joining">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">To *</label>
                        <input type="date" name="Passing">
                      </div>
                    </div>
                      <br/>


                      <div class="form-group col-lg">
                          <label for="reason">Upload Certificates *</label>
                          <i class = "fa fa-file"></i>
                      </div>
                      <br/>


                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>


      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Projects <a data-toggle="modal" data-target="#project_modal" ><i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-code text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Departmental Information System (DIS) <a data-toggle="modal" data-target="#project_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
            <p>July 2018 – Ongoing<br/>Guide : Dr. Urjita Thakar<br/>The main goal of the DIS is to automate the process carried out in the organization with improved performance and realize the visions of paperless
              work. We are attempting to improve our existing system that runs on pen and paper. <br/>Other Creators : Pavitra Malpani</p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1">
                <i class="fa fa-code text-center" style="font-size: 60px;"></i>
              </div>
              <div class="col-11">
                <h5>LEACH Protocol with Enhanced Network Lifetime in Wireless Sensor Network<a data-toggle="modal" data-target="#project_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
                <p>May 2015 – May 2016<br/>Guide : Mr. K. Anil Kumar<br/>In this project, a modified algorithm for LEACH protocol is proposed known as “LEACH with Enhanced Network Lifetime protocol (LEACH-ENL)
                  for clustered WSN” is aimed at prolonging the lifetime of the sensor networks by balancing the energy consumption of the sensor nodes.<br/>Other Creators : Kanak Soni, Vatika Goswami</p>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-1">
                  <i class="fa fa-code text-center" style="font-size: 60px;"></i>
                </div>
                <div class="col-11">
                  <h5>Business Card Manager through Optical Character Recognition<a data-toggle="modal" data-target="#project_modal" ><i class="fa fa-pencil float-right" style="font-size: 30px;"></i></a></h5>
                  <p>May 2014 – May 2015<br/>Guide : Ms. Neha Jain<br/>Business Card Manager powered with an advanced version of OCR (Optical Character Recognition) technology, this software offers the best of business
                    card scanning. Business card manager has an intuitive combination of an easy-to-use interface and a powerful search tool that allows finding information .<br/>Other Creators : Kanak Soni, Vatika Goswami</p>
                </div>
            </div>
      </div>

      <br/>

    <!-- Modal -->
          <div class="modal fade" id="project_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Projects</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                       <div class="form-group col-lg">
                          <label for="reason">Title *</label>
                          <input class="form-control"  id="reason">
                        </div>
                      <div class="form-group col-lg">
                            <label for="reason">Guide *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Co Guide *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Description *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <br/>

                      <div class="form-group col-lg">
                          <label for="reason">Area/ Subject/ Topic*</label>
                          <textarea class="form-control"  id="reason"></textarea>
                        </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">From*</label>
                        <input type="date" name="Joining">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">To *</label>
                        <input type="date" name="Passing">
                      </div>
                    </div>
                      <br/>

                      <div class="form-group col-lg-6">
                          <label for="reason">Co- Authors*</label>
                          <input class="form-control" id="CGPA">
                      </div>
                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>

              <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Competetive Exams <a data-toggle="modal" data-target="#comp_exam_modal" ><i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></a></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-clipboard text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>GATE (Graduate Aptitude Test in Engineering) <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></h5>
            <p>Registration No. : VCYA57CSHI<br/>Year : 2015</p>
            <div class="row">
              <p class="col-4">Score : 480</p>
              <p class="col-4">Normalized marks : 33.44</p>
              <p class="col-4">Rank : 9876</p>
            </div>
            <a href="#">view score card</a>
          </div>
        </div>
      </div>


      <!-- Modal -->
          <div class="modal fade" id="comp_exam_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Competitive Exam</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="col-lg">
                      <label for="reason">Name of Exam *</label>
                      <select id="leavetype" class="form-control">
                        <option>GRE</option>
                        <option>GATE</option>
                        <option>CAT</option>
                      </select>
                      </div>

                      <div class="form-group col-lg">
                            <label for="reason">Registration No. *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <div class="col-lg">
                      <label for="reason">Year of Exam *</label>
                      <select id="leavetype" class="form-control">
                        <option>2018</option>
                        <option>2017</option>
                        <option>2016</option>
                        <option>2015</option>
                        <option>2014</option>
                      </select>
                      </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">Score *</label>
                        <input type="form-control" id="reason">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">All India Rank *</label>
                        <input type="form-control" id="reason">
                      </div>
                    </div>
                      <br/>

                      <div class="form-group col-lg">
                          <label for="reason">Upload Score Card*</label>
                          <i class = "fa fa-file"></i>
                      </div>
                      <br/>
                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>
      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Placements <i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-suitcase text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>Deloitte, Hyderabad (On Campus) <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></h5>
            <p>6.2 CTC<br/>status</p>
          </div>
        </div>
      </div>

      <!-- Modal -->
          <div class="modal fade" id="placement_modal" role="dialog">
              <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title">Internship</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <form>

                       <div class="col-lg">
                      <label for="reason">Company Name *</label>
                      <select id="leavetype" class="form-control">
                        <option>Delloite</option>
                        <option>GATE</option>
                        <option>CAT</option>
                      </select>
                      </div>
                      <div class="form-group col-lg">
                            <label for="reason">Company Address *</label>
                            <input class="form-control" id="reason">
                      </div>
                      <br/>

                      <label class="control-label col-lg" for="Type of leave">Location*</label>
                      <div class="row">
                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>Country</option>
                        <option>India</option>
                        <option>USA</option>
                      </select>
                      </div>

                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>State</option>
                        <option>M.P.</option>
                        <option>New Delhi</option>
                      </select>
                      </div>

                      <div class="col-lg-4">
                      <select id="leavetype" class="form-control">
                        <option>City</option>
                        <option>Indore</option>
                        <option>New Delhi</option>
                      </select>
                      </div>

                      </div>
                     <br/>

                      <div class="form-group col-lg">
                          <label for="reason">Area/ Subject/ Topic*</label>
                          <input class="form-control"  id="reason">
                        </div>

                      <br/>
                      <div class='row'>
                      <div class="col-lg-6">
                        <label for="From">From*</label>
                        <input type="date" name="Joining">
                      </div>

                      <div class="col-lg-6">
                        <label for="To">To *</label>
                        <input type="date" name="Passing">
                      </div>
                    </div>
                      <br/>


                      <div class="form-group col-lg">
                          <label for="reason">Upload Certificates *</label>
                          <i class = "fa fa-file"></i>
                      </div>
                      <br/>


                    </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
              </div>
              </div>
              </div>
              </div>


      <br/>

      <div class="kyc-section rewards-section reports-sectn">
        <h3>Activities/Achievements <i class="fa fa-plus-square float-right" style="font-size: 30px;"></i></h3>
        <div class="row">
          <div class="col-1">
            <i class="fa fa-trophy text-center" style="font-size: 60px;"></i>
          </div>
          <div class="col-11">
            <h5>District Level Paper Presentation - Cultural <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></h5>
            <p>12 May 2015, Indore<br/>Participated<br/><a href="#">view certificate</a>></p>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-1">
              <i class="fa fa-trophy text-center" style="font-size: 60px; "></i>
            </div>
            <div class="col-11">
                <h5>Kho-Kho at House level - Sports <i class="fa fa-pencil float-right" style="font-size: 30px;"></i></h5>
                <p>02 Sept 2010, Indore<br/>Winer<br/><a href="#">view certificate</a>></p>
            </div>
          </div>
      </div>
      </div>
      </div>


  <!--End Left Panel-->


    <!--Start Right Panel-->
  <div class="col-lg-3 kyc-section rewards-section reports-sectn scroll-area" style="max-height: 1000px">
        <div class="position-static">
          <h3>M.E. II Year <i class="fa fa-download float-right" style="font-size: 30px;"></i></h3>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
          <hr>
        </div>
          <div>
            <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>

          </div>
          <hr>
          <div class="row">
              <div class="col-4">
                <div><img class="othersprofile" src="../../../assets/images/profile-pic_02.jpg" alt=""/></div>
              </div>
              <div class="col-8">
                <h5>Pavitra Malpani</h5>
                <p>0801CS17ME17<br/>
                malpanipavitra@gmail.com</p>
            </div>
          </div>
          <hr>
      </div>
    </div>
    </div>
    </div>





  <!--End Right Panel-->

