<div id="html-content-holder" style="background-color: #F0F0F1; color: #00cc65; width: 1000px;
        padding-left: 25px; padding-top: 10px;">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
              <thead class="">
                <tr>
                  <th scope="col">Timing</th>
                  <th scope="col">Monday</th>
                  <th scope="col">Tuesday</th>
                  <th scope="col">Wednesday</th>
                  <th scope="col">Thursday</th>
                  <th scope="col">Friday</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">10:00-11:00</th>
                  <td>CO34007</td>
                  <td>CO34002</td>
                  <td>CO34008</td>
                  <td>CO34005</td>
                  <td>CO34007</td>
                </tr>
                <tr>
                  <th scope="row">11:00-12:00</th>
                  <td>CO34002</td>
                  <td>CO34005</td>
                  <td>CO34007</td>
                  <td>CO34008</td>
                  <td>CO34007</td>
                </tr>
                <tr>
                  <th scope="row">12:00-1:00</th>
                  <td></td>
                  <td>EC34007</td>
                  <td>EC34007</td>
                  <td>EC34007</td>
                  <td>EC34007</td>
                </tr>
                <tr>
                  <th scope="row">1:00-2:00</th>
    
                </tr>
                <tr>
                  <th scope="row">2:00-3:00</th>
                  <td>CO34007</td>
                  <td></td>
                  <td>CO34008</td>
                  <td>CO34005</td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">3:00-4:00</th>
                  <td>CO34007</td>
                  <td>CO34002</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">4:00-5:00</th>
                  <td>CO34007</td>
                  <td>CO34002</td>
                  <td>CO34008</td>
                  <td>CO34005</td>
                  <td>CO34007</td>
                </tr>
                <tr>
                  <th scope="row">5:00-6:00</th>
                  <td>CO34007</td>
                  <td>CO34002</td>
                  <td>CO34008</td>
                  <td>CO34005</td>
                  <td>CO34007</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
    <!-- Trigger the modal with a button -->
<button id="btn-Preview-Image" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#downloadModal">Download</button>

<!-- Modal -->
<div id="downloadModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="d-flex justify-content-end">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Download</h4>
      </div>
      <div class="modal-body">
          <h3>Preview :</h3>
          <div id="previewImage">
          </div>
          <br/>
        <a id="btn-Convert-Html2Image" href="#">Download</a>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
</div>
