table {
    width: 100%;
  }

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

form{
  padding-bottom: 30px;
}

.date-block{
  display: flex;
}
.date-block__list{
  flex-basis: 150px;
  margin-right: 15px;
}
.date-block__list1{
  flex-basis: 100px;
  margin-right: 25%;
}
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1);
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
    
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .element-description {
    padding: 16px;
  }
  
  .element-description-attribution {
    opacity: 0.5;
  }
  .mat-column-favourite{
  width: 10% !important;
}
.mat-column-date {
  width: 20% !important;
}
.mat-column-heading {
  word-wrap: break-word !important;
  white-space: unset !important;
  width: 43% !important;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-forwarded {
  width: 4% !important;
}
.mat-column-link {
  width: 7% !important;
}
.make-dark {
  font-weight: bolder;
}
.make-light{
  background: whitesmoke;
}
.tableContainer{
  position: relative;
  max-height: 35em;
  min-height: 19em;
  overflow: auto;
}
