.leave-box {
  border: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
  margin-left: 1px;
  margin-right: 1px;
}

.text-align-center {
  color: #1488CC;
  text-align-last: center;
}

.button-width {
  width: 78px;
}