.ng-invalid:not(form) {
    border: 1px solid red;
}

.beautify{
    height: 73px;
    width: 50px;
}
.beautify1{
    height: 37px;
    width: 50px;
}

.new{
        display: flex;
        flex-direction: column;
}
.space{
    margin: 0 3%;
}
.lessSpace{
    margin: 0 10% 0 1%,
}
.center {
    display: flex;
    justify-content: center;
}
.wrapper {
    margin-left: 50%;
}
thead{
    font-size: 1.2em;
    text-align: center;
}
label, select{
    font-size: 1.1em;
}
table tr td:first-child{
    font-weight: 700;
}
td{
    padding: 1.05em;
    text-align: center;
    font-size: 1.2em;
}
.box {
    padding: 1%;
    padding-left: 5%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
    box-shadow: -1px 3px 3px -3px rgba(0, 0, 0, 0.35);
  }
  .modal-heading {
    background: #1483cc;
    color: white;
  }

  .modal-lg {
    max-width: 70% !important;
  }
  
  .modal-header{
    background-color:rgb(4, 58, 87);
    color:white;
    margin:0%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .fake-link {
    text-decoration: underline;
    cursor: pointer;
}

.button {
    opacity: 0;
  }
  
  tr:hover .button {
    opacity: 1;
  }