<div class="profile-content">
  <div class="profile-icon"><img src="assets/images/img_avatar3.png" alt="" /></div>
  <div class="txt-info main">

    <h4>Welcome Surendra Gupta</h4>

    <h5>Last Login: Tuesday - 30rd Aug 2018</h5>

    <div class="profile-links">
      <a href="#">ID: CS16#108</a>
    </div>
  </div>
  <div class="txt-info three">
    <h3>2</h3>
    <h5><a href="#">Pending Tasks</a></h5>
  </div>
  <div class="txt-info two">
    <h3>10</h3>
    <h5><a href="#">New Notification</a></h5>
  </div>

</div>
