<div class="row">
    <div class="col-lg-2" style="color:#f46404;">
      <h4>Notifications</h4>
    </div>
    <div class="col-lg-3">
      <div class=" searchbox">
      <input class="form-control mr-sm-2 searchbox-width" type="search" placeholder="Search" aria-label="Search">

    </div>
    </div>
    <div class="col-lg-7">
     From : <input type="date" class="ml-2">
     To : <input type="date" class="ml-2">
     <button class="btn btn-primary ml-3 mb-1" style="height:90%;">Search</button>
    </div>
    <!--  <div class="col-lg-1 dropdown float-right mt-1">
        <button class="dropdown-toggle" style="color:#1488CC;padding: 0;border: none; background: none;"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-filter fa-fw fa-lg" aria-hidden="true"></i></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" > Datewise</a>

        </div>
    </div> -->

  </div>

    <div class="container">

      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-1 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 2 days ago</p>
        <p class="col-4"> Start date: 24/08/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Today</p>
        <div class="col-4">

        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Quiz Schedule</a>
        </div>
      </div>
      <div class="alert alert-danger row">
        <h4 class="col-7">Mid Term-2 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 5 days ago</p>
        <p class="col-4"> Start date: 12/09/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-1 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 2 days ago</p>
        <p class="col-4"> Start date: 24/08/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Quiz Schedule</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Today</p>
        <p class="col-4"> Start date: 26/08/2018</p>
        <div class="col-4">

        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Quiz Schedule</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-2 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 5 days ago</p>
        <p class="col-4"> Start date: 12/09/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-danger row">
        <h4 class="col-7">Mid Term-1 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 2 days ago</p>
        <p class="col-4"> Start date: 24/08/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Quiz Schedule</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Today</p>
        <p class="col-4"> Start date: 26/08/2018</p>
        <div class="col-4">

        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Quiz Schedule</a>
        </div>
      </div>
      <div class="alert alert-success row">
        <h4 class="col-7">Mid Term-2 Time table</h4>
        <p class="col-3">By: Somil Neema</p>
        <p class="col-2"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i> 5 days ago</p>
        <p class="col-4"> Start date: 12/09/2018</p>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Time Table</a>
        </div>
        <div class="col-4">
          <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download Sitting Arrangement</a>
        </div>
      </div>

    <!--Notification Panel Ends-->

